{% extends "master_getfedora.html" %}

{% from "submenu.html" import submenu with context %}
{% from "export_regulations.html" import export_regulations %}


{% block title %}{% trans trimmed %}Download Fedora Server{% endtrans %}{% endblock %}

{% block content %}

  {{submenu(edition="server", active="download")}}

  <div class="bg-white py-5">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12">
          <h1 class="font-weight-light">{% trans trimmed n=releaseinfo.ga.editions.server.release_number %}Download Fedora {{n}} Server.{% endtrans %}</h1>
          {#<h5 class="font-weight-light">{% trans trimmed %}Your download will finish before we come up with a fancy tagline for this page.{% endtrans %}</h5>#}

        </div>
      </div>
    </div>
  </div>

  <div class="bg-light border py-5">
    <div class="container">
      <div class="row">
        <div class="col-12 mb-3"><h3 class="font-weight-light text-center mb-3">{% trans trimmed %}Fedora Server is available for x86_64 and ARM.{% endtrans %}</h3></div>
        <div class="col-12 col-lg-6">
          <h5 class="font-weight-light">{% trans trimmed %}Using the x86_64 Architecture?{% endtrans %}</h5>
          <ul class="list-group">
            {% if releaseinfo.ga.editions.server.download_override.standard_x86_64 %}
            <li class="list-group-item d-flex align-items-center">
              <div class="flex-grow-1">
                {% trans trimmed n=releaseinfo.ga.editions.server.release_number %}
                Fedora {{n}}: Standard ISO image for x86_64
                {% endtrans %}
              </div>
              <div>
                <a class="btn btn-outline-fedora-blue" href="{{dl(releaseinfo.ga.editions.server.download_override.standard_x86_64, 'https://download.fedoraproject.org/pub/fedora/linux/releases/%d/Server/x86_64/iso/Fedora-Server-dvd-x86_64-%d-%s.iso' % (releaseinfo.ga.editions.server.release_number, releaseinfo.ga.editions.server.release_number, releaseinfo.ga.editions.server.rc_version))}}">
                  {% trans trimmed %}Download{% endtrans %}
                </a>
              </div>
            </li>
            {% endif %}

            {% if releaseinfo.ga.editions.server.download_override.netinst_x86_64 %}
            <li class="list-group-item d-flex align-items-center">
              <div class="flex-grow-1">
                {% trans trimmed n=releaseinfo.ga.editions.server.release_number %}
                Fedora {{n}}: Netinstall ISO image for x86_64
                {% endtrans %}
              </div>
              <div>
                <a class="btn btn-outline-fedora-blue" href="{{dl(releaseinfo.ga.editions.server.download_override.netinst_x86_64, 'https://download.fedoraproject.org/pub/fedora/linux/releases/%d/Server/x86_64/iso/Fedora-Server-netinst-x86_64-%d-%s.iso' % (releaseinfo.ga.editions.server.release_number, releaseinfo.ga.editions.server.release_number, releaseinfo.ga.editions.server.rc_version))}}">{% trans trimmed %}Download{% endtrans %}</a>
              </div>
            </li>
            {% endif %}

            {% if releaseinfo.beta.show and releaseinfo.beta.editions.server.download_override.standard_x86_64 %}
            <li class="list-group-item d-flex align-items-center">
              <div class="flex-grow-1">
                {% trans trimmed n=releaseinfo.beta.editions.server.release_number %}
                Fedora {{n}}: Standard ISO image for x86_64
                {% endtrans %}
                <span class="badge badge-primary">{% trans trimmed %}Beta!{% endtrans %}</span>
              </div>
              <div>
                <a class="btn btn-outline-fedora-blue" href="{{dl(releaseinfo.beta.editions.server.download_override.standard_x86_64, 'https://download.fedoraproject.org/pub/fedora/linux/releases/test/%d_Beta/Server/x86_64/iso/Fedora-Server-dvd-x86_64-%d_Beta-%s.iso' % (releaseinfo.beta.editions.server.release_number, releaseinfo.beta.editions.server.release_number, releaseinfo.beta.editions.server.rc_version))}}">
                  {% trans trimmed %}Download{% endtrans %}
                </a>
              </div>
            </li>
            {% endif %}

            {% if releaseinfo.beta.show and releaseinfo.beta.editions.server.download_override.netinst_x86_64 %}
            <li class="list-group-item d-flex align-items-center">
              <div class="flex-grow-1">
                {% trans trimmed n=releaseinfo.beta.editions.server.release_number %}
                Fedora {{n}}: Netinstall ISO image for x86_64
                {% endtrans %}
                <span class="badge badge-primary">{% trans trimmed %}Beta!{% endtrans %}</span>
              </div>
              <div>
                <a class="btn btn-outline-fedora-blue" href="{{dl(releaseinfo.beta.editions.server.download_override.netinst_x86_64, 'https://download.fedoraproject.org/pub/fedora/linux/releases/test/%d_Beta/Server/x86_64/iso/Fedora-Server-netinst-x86_64-%d_Beta-%s.iso' % (releaseinfo.beta.editions.server.release_number, releaseinfo.beta.editions.server.release_number, releaseinfo.beta.editions.server.rc_version))}}">{% trans trimmed %}Download{% endtrans %}</a>
              </div>
            </li>
            {% endif %}
          </ul>
        </div>
        <div class="col-12 col-lg-6 mt-lg-0 mt-4">
          <h5 class="font-weight-light">{% trans trimmed %}Using the aarch64 Architecture?{% endtrans %}</h5>
          <ul class="list-group">
            {% if releaseinfo.ga.editions.server.download_override.standard_aarch64 %}
            <li class="list-group-item d-flex align-items-center">
              <div class="flex-grow-1">
                {% trans trimmed n=releaseinfo.ga.editions.server.release_number %}
                Fedora {{n}}: Standard ISO image for aarch64
                {% endtrans %}
              </div>
              <div>
                <a class="btn btn-outline-fedora-blue" href="{{dl(releaseinfo.ga.editions.server.download_override.standard_aarch64, 'https://download.fedoraproject.org/pub/fedora/linux/releases/%d/Server/aarch64/iso/Fedora-Server-dvd-aarch64-%d-%s.iso' % (releaseinfo.ga.editions.server.release_number, releaseinfo.ga.editions.server.release_number, releaseinfo.ga.editions.server.rc_version))}}">{% trans trimmed %}Download{% endtrans %}</a>
              </div>
            </li>
            {% endif %}

            {% if releaseinfo.ga.editions.server.download_override.netinst_aarch64 %}
            <li class="list-group-item d-flex align-items-center">
              <div class="flex-grow-1">
                {% trans trimmed n=releaseinfo.ga.editions.server.release_number %}
                Fedora {{n}}: Netinstall ISO image for aarch64
                {% endtrans %}
              </div>
              <div>
                <a class="btn btn-outline-fedora-blue" href="{{dl(releaseinfo.ga.editions.server.download_override.netinst_aarch64, 'https://download.fedoraproject.org/pub/fedora/linux/releases/%d/Server/aarch64/iso/Fedora-Server-netinst-aarch64-%d-%s.iso' % (releaseinfo.ga.editions.server.release_number, releaseinfo.ga.editions.server.release_number, releaseinfo.ga.editions.server.rc_version))}}">{% trans trimmed %}Download{% endtrans %}</a>
              </div>
            </li>
            {% endif %}

            {% if releaseinfo.ga.editions.server.download_override.raw_aarch64 %}
            <li class="list-group-item d-flex align-items-center">
              <div class="flex-grow-1">
                {% trans trimmed n=releaseinfo.ga.editions.server.release_number %}
                Fedora {{n}}: Raw image for aarch64
                {% endtrans %}
              </div>
              <div>
                <a class="btn btn-outline-fedora-blue" href="{{dl(releaseinfo.ga.editions.server.download_override.raw_aarch64, 'https://download.fedoraproject.org/pub/fedora/linux/releases/%d/Server/aarch64/images/Fedora-Server-%d-%s.aarch64.raw.xz' % (releaseinfo.ga.editions.server.release_number, releaseinfo.ga.editions.server.release_number, releaseinfo.ga.editions.server.rc_version))}}">{% trans trimmed %}Download{% endtrans %}</a>
              </div>
            </li>
            {% endif %}

            {% if releaseinfo.beta.show and releaseinfo.beta.editions.server.download_override.standard_aarch64 %}
            <li class="list-group-item d-flex align-items-center">
              <div class="flex-grow-1">
                {% trans trimmed n=releaseinfo.beta.editions.server.release_number %}
                Fedora {{n}}: Standard ISO image for aarch64
                {% endtrans %}
                <span class="badge badge-primary">{% trans trimmed %}Beta!{% endtrans %}</span>
              </div>
              <div>
                <a class="btn btn-outline-fedora-blue" href="{{dl(releaseinfo.beta.editions.server.download_override.standard_aarch64, 'https://download.fedoraproject.org/pub/fedora/linux/releases/test/%d_Beta/Server/aarch64/iso/Fedora-Server-dvd-aarch64-%d_Beta-%s.iso' % (releaseinfo.beta.editions.server.release_number, releaseinfo.beta.editions.server.release_number, releaseinfo.beta.editions.server.rc_version))}}">{% trans trimmed %}Download{% endtrans %}</a>
              </div>
            </li>
            {% endif %}

            {% if releaseinfo.beta.show and releaseinfo.beta.editions.server.download_override.netinst_aarch64 %}
            <li class="list-group-item d-flex align-items-center">
              <div class="flex-grow-1">
                {% trans trimmed n=releaseinfo.beta.editions.server.release_number %}
                Fedora {{n}}: Netinstall ISO image for aarch64
                {% endtrans %}
                <span class="badge badge-primary">{% trans trimmed %}Beta!{% endtrans %}</span>
              </div>
              <div>
                <a class="btn btn-outline-fedora-blue" href="{{dl(releaseinfo.beta.editions.server.download_override.netinst_aarch64, 'https://download.fedoraproject.org/pub/fedora/linux/releases/test/%d_Beta/Server/aarch64/iso/Fedora-Server-netinst-aarch64-%d_Beta-%s.iso' % (releaseinfo.beta.editions.server.release_number, releaseinfo.beta.editions.server.release_number, releaseinfo.beta.editions.server.rc_version))}}">{% trans trimmed %}Download{% endtrans %}</a>
              </div>
            </li>
            {% endif %}

            {% if releaseinfo.beta.show and releaseinfo.beta.editions.server.download_override.raw_aarch64 %}
            <li class="list-group-item d-flex align-items-center">
              <div class="flex-grow-1">
                {% trans trimmed n=releaseinfo.beta.editions.server.release_number %}
                Fedora {{n}}: Raw image for aarch64
                {% endtrans %}
                <span class="badge badge-primary">{% trans trimmed %}Beta!{% endtrans %}</span>
              </div>
              <div>
                <a class="btn btn-outline-fedora-blue" href="{{dl(releaseinfo.beta.editions.server.download_override.raw_aarch64, 'https://download.fedoraproject.org/pub/fedora/linux/releases/test/%d_Beta/Server/aarch64/images/Fedora-Server-%d_Beta-%s.aarch64.raw.xz' % (releaseinfo.beta.editions.server.release_number, releaseinfo.beta.editions.server.release_number, releaseinfo.beta.editions.server.rc_version))}}">{% trans trimmed %}Download{% endtrans %}</a>
              </div>
            </li>
            {% endif %}

          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-12 mt-4 text-center text-lg-right">
          <a href="{{url_for('security', lang_code=lang_code)}}">
            {% trans trimmed %}
            Verify your download.
            {% endtrans %}
          </a>
        </div>
      </div>

    </div>
  </div>
  <div class="bg-gray-200 py-5">
      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-7 col-lg-4 col-md-5 col-sm-6 px-5">
            <img class="w-100 pb-4 pb-lg-0" src="/static/images/g-cloud-server.png" />
          </div>
          <div class="col-12 col-lg-8 col-md-7">
            <h3 class="font-weight-light pb-4 text-center text-md-left">{% trans trimmed %}Fedora Server tailored for the cloud{% endtrans %}</h3>
            <p class="font-weight-light">
              {% trans trimmed %}
              Fedora Server is also available via a range of images that are designed for use in the cloud. Multiple formats are available for Openstack, Vagrant, the Amazon Public Cloud, and more.
              {% endtrans %}
            </p>
            <p class="font-weight-light">
              {% trans trimmed link="https://cloud.fedoraproject.org/" %}
              Check out the <a href="{{link}}">Fedora Cloud</a> page for all the details and downloads.
              {% endtrans %}
            </p>
          </div>
        </div>
      </div>
    </div>

    {{export_regulations()}}
{% endblock %}
