{% extends "master_getfedora.html" %}

{% from "editions_card.html" import editions_card with context %}
{% from "submenu.html" import submenu with context %}

{% block title %}{% trans trimmed %}Fedora Workstation{% endtrans %}{% endblock %}

{% block content %}
{{submenu(edition="workstation", active="overview")}}
  <div class="bg-tranparent py-5">
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-12 col-md-7 col-lg-6 order-12 order-lg-1 text-center text-md-left">
          <h1 class="font-weight-light">{% trans trimmed %}Fedora Workstation.{% endtrans %}</h1>
          <h5 class="font-weight-light">{% trans trimmed %}This is the Linux workstation you've been waiting for.{% endtrans %}</h5>
          <a class="btn btn btn-outline-fedora-green mt-2" href="{{url_for('workstation_download', lang_code=lang_code)}}">{% trans trimmed %}Download Now{% endtrans %}</a>
        </div>
        <div class="col-9 col-md-5 col-lg-6 order-1 order-lg-12">
          <img src="/static/images/g-laptop-wallpaper.png" class="w-100 pb-4 pb-lg-0"/>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-light border py-5">
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-12 col-lg-6 col-md-7 col-sm-9 px-5">
          <img class="w-100 pb-4 pb-lg-0" src="/static/images/g-code-window.png" />
        </div>
        <div class="col-12 col-lg-6">
          <h3 class="font-weight-light pb-4 text-center text-lg-left">{% trans trimmed %}Created for Developers.{% endtrans %}</h3>
          <h5 class="font-weight-light">
            {% trans trimmed %}
            Fedora Workstation is a reliable, user-friendly, and powerful operating system for your laptop or desktop computer. It supports a wide range of developers, from hobbyists and students to professionals in corporate environments.
            {% endtrans %}
          </h5>
        </div>
      </div>
    </div> <!--contatiner-->
  </div> <!-- gradient-->

  <div class="bg-gray-200 py-5">
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-12 col-lg-6 order-12 order-lg-1">
          <h3 class="font-weight-light pb-4 text-center text-lg-left">{% trans trimmed %}Sleek User Interface.{% endtrans %}</h3>
          <h5 class="font-weight-light">
            {% trans trimmed %}
            Focus on your code in the GNOME desktop environment. GNOME is built with developer feedback and minimizes distractions, so you can concentrate on what's important.
            {% endtrans %}
          </h5>
        </div>
        <div class="col-12 col-lg-6 col-md-7 col-sm-9 px-5 order-1 order-lg-12">
          <img class="w-100 pb-4 pb-lg-0" src="/static/images/g-monitor-overview.png" />
        </div>
      </div>
    </div> <!--contatiner-->
  </div> <!-- gradient-->

  <div class="bg-light border py-5">
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-12 col-lg-5 col-md-7 col-sm-9 px-5">
          <img class="w-100 pb-4 pb-lg-0" src="/static/images/g-toolbox.png" />
        </div>
        <div class="col-12 col-lg-7">
          <h3 class="font-weight-light pb-4 text-center text-lg-left">{% trans trimmed %}Complete Open Source toolbox{% endtrans %}</h3>
          <h5 class="font-weight-light">
            {% trans trimmed %}
            Skip the drag of trying to find or build the tools you need. With Fedora's complete set of open source languages, tools, and utilities, everything is a click or command line away. There's even project hosting and repositories like COPR to make your code and builds available quickly to the community.
            {% endtrans %}
          </h5>
        </div>
      </div>
    </div> <!--contatiner-->
  </div> <!-- gradient-->

  <div class="bg-gray-200 py-5">
    <div class="container">
      <div class="row align-items-center justify-content-center">
        
        <div class="col-12 col-lg-6 order-12 order-lg-1">
          <h3 class="font-weight-light pb-4 text-center text-lg-left">{% trans trimmed %}Virtualization.{% endtrans %}</h3>
          <h5 class="font-weight-light">
            {% trans trimmed %}
            Get virtual machines up and running quickly to test your code on multiple platforms using GNOME Boxes. Or dig into powerful, scriptable virtualization tools for even more control.
            {% endtrans %}
          </h5>
        </div>
        <div class="col-12 col-lg-6 col-md-9 col-sm-10 px-5 order-1 order-lg-12">
          <img class="w-100 pb-4 pb-lg-0" src="/static/images/g-laptop-boxes.png" />
        </div>
      </div>
    </div> <!--contatiner-->
  </div> <!-- gradient-->

  <div class="bg-light border py-5">
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-12 col-lg-5 col-md-7 col-sm-9 px-5">
          <img class="w-100 pb-4 pb-lg-0" src="/static/images/g-containers.png" />
        </div>
        <div class="col-12 col-lg-7">
          <h3 class="font-weight-light pb-4 text-center text-lg-left">{% trans trimmed %}Containerize. Hack. Deploy.{% endtrans %}</h3>
          <h5 class="font-weight-light">
            {% trans trimmed %}
            Containerize your own applications or deploy containerized applications out of the box with built-in Open Container Initiative (OCI) image support.
            {% endtrans %}
          </h5>
        </div>
      </div>
    </div> <!--contatiner-->
  </div> <!-- gradient-->

  <div class="bg-gray-200 py-5">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="font-weight-light text-center">{% trans trimmed %}Support Resources{% endtrans %}</h2>
        </div>
      </div><br><br>
      <div class="row top-margin">
        <div class="col-md-4 py-4 col-xs-12">
          <div class="col-12">
            <h3 class="font-weight-light"><i class="fa fa-fw fa-lg header-icon fa-book"></i>{% trans trimmed %}&nbsp; Documentation{% endtrans %}</h3><br>
            <h5 class="font-weight-light">{% trans trimmed %}User documentation is available at <a href="https://docs.fedoraproject.org/en-US/fedora/latest">Fedora documentation</a>.{% endtrans %}</h5><br>
          </div>
        </div>
        <div class="col-md-4 py-4 col-xs-12">
          <div class="col-12">
            <h3 class="font-weight-light"><i class="fa fa-fw fa-lg header-icon fa-envelope"></i>{% trans trimmed %}&nbsp; Support{% endtrans %}</h3><br>
            <h5 class="font-weight-light">{% trans trimmed %}Support is available at{% endtrans %} <a href="https://ask.fedoraproject.org/">ask.fedoraproject.org</a>.</h5>
          </div>
        </div>
        <div class="col-md-4 py-4 col-xs-12">
          <div class="col-12">
            <h3 class="font-weight-light"><i class="fa fa-fw fa-lg header-icon fa-comments"></i>&nbsp; Chat</h3><br>
            <h5 class="font-weight-light">{% trans trimmed %}Users and developers are available in the <strong>#workstation</strong> channel on <a href="https://matrix.to/#/#workstation:fedoraproject.org?web-instance%5Belement.io%5D=chat.fedoraproject.org">Fedora Chat</a> and on <a href="https://discussion.fedoraproject.org/tag/workstation">Fedora Discussion</a>.{% endtrans %}</h5>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
