{% extends "master_getfedora.html" %}

{% from "editions_card.html" import editions_card with context %}

{% block content %}
  <div class="bg-tranparent">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-6 ">
          <h1 class="font-weight-light">Fedora Workstation.</h1>
          <h5 class="font-weight-light">This is the Linux workstation you've been waiting for.</h5>
          <a class="btn btn-lg btn-outline-fedora-blue mt-2" href="download/">Download Now</a>
        </div>
        <div class="col-6">
            <img src="/static/images/fedora-workstation-laptop.png" class="w-100"/>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-white pt-5">
  </div>
  <div class="bg-light border py-5">
    <div class="container">
      <div class="row">


        <div class="col-12">


          Fedora Workstation is a reliable, user-friendly, and powerful operating system for your laptop or desktop computer. It supports a wide range of developers, from hobbyists and students to professionals in corporate environments.

        </div>
      </div> <!--row-->
    </div> <!--contatiner-->
  </div> <!-- gradient-->




  <div class="bg-gray-200 py-5">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <h2 class="font-weight-light">Emerging Fedora Editions</h2>
            <p class="lead">Preview the future of Fedora.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 mt-5">
            {{editions_card(color="magenta",
                            logo="/static/images/fedora-coreos-logo.png",
                            official=False,
                            description=_('We need some text about Fedora CoreOS to go here; it should give users a good idea of what they can use Fedora CoreOS for.'),
                            download_link="coreos/download",
                            learnmorelink="coreos/"
            )}}     
          </div>
  
          <div class="col-lg-4 mt-5">
            {{editions_card(color="blue",
                            logo="/static/images/fedora-silverblue-logo.png",
                            official=False,
                            description=_('We need a good description of Silverblue to go here; it should give the high level idea behind Silverblue and what it would be used for.'),
                            download_link="silverblue/download",
                            learnmorelink="silverblue/"
            )}}   
            </div>
  
            <div class="col-lg-4 mt-5">
              {{editions_card(color="magenta",
                              logo="/static/images/fedora-iot-logo.png",
                              official=False,
                              description=_('We need some text about Fedora IoT to go here; it should give users a good idea of what they can use Fedora IoT for.'),
                              download_link="silverblue/download",
                              learnmorelink="silverblue/"
              )}} 
            </div>
        </div> <!--row-->
      </div> <!--contatiner-->
    </div> <!-- gradient-->

         <div class="bg-light py-5">
              <div class="container">
                <div class="row">
                 <div class="col-12 text-center">
                    <h4 class="display font-weight-light py-3">Fedora is always free for anyone to</h4>
                   <h3 class="display font-weight-bold text-muted py-3 "><span class="text-fedora-green px-3">&bull;</span> use <span class="text-fedora-magenta px-3">&bull;</span> modify <span class="text-fedora-orange px-3">&bull;</span> distribute <span class="text-fedora-purple px-3">&bull;</span></h3>
                   <h4 class="display font-weight-light py-3">It is built and used by people across the globe<br/> who work together as a community.</h4>
                  </div>
               </div>
              </div> 
           </div>  
{% endblock %}





    

  

  
