:root
{
    --fedora-blue: #3c6eb4;
    --fedora-dark-blue: #294172;
    --fedora-magenta: #db3279;
    --fedora-orange: #e59728;
    --fedora-green: #79db32;
    --fedora-purple: #a07cbc;
}

body, .tooltip, .popover
{
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.fedora-dotted-background{
    position: absolute;
    width:100%;
    height: 1000px;
    top:-40px;
    z-index: -100;
    background: url(../images/dotted-fedora-background.png) white;
    background-repeat: no-repeat;
    background-position: right 0;
}

.editions-cutout-green{
    background: url(../images/green-corner-cutout.png) white;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 100px;
}


.editions-cutout-orange{
    background: url(../images/orange-corner-cutout.png) white;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 100px;
}

.editions-cutout-blue{
    background: url(../images/blue-corner-cutout.png) white;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 100px;
}

.editions-cutout-purple{
    background: url(../images/purple-corner-cutout.png) white;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 100px;
}

.editions-cutout-magenta{
    background: url(../images/magenta-corner-cutout.png) white;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 100px;
}


.bg-semilight{
    background: #efefef;
}

.bg-fedora-blue{
    background: var(--fedora-blue);
}

.bg-fedora-darkblue{
    background: var(--fedora-darkblue);
}

.bg-fedora-magenta{
    background: var(--fedora-magenta);
}

.bg-fedora-orange{
    background: var(--fedora-orange);
}

.bg-fedora-green{
    background: var(--fedora-green);
}

.bg-fedora-purple{
    background: var(--fedora-purple);
}


.text-fedora-blue{
    color: var(--fedora-blue);
}

.text-fedora-darkblue{
    color: var(--fedora-darkblue);
}

.text-fedora-magenta{
    color: var(--fedora-magenta);
}

.text-fedora-orange{
    color: var(--fedora-orange);
}

.text-fedora-green{
    color: var(--fedora-green);
}

.text-fedora-purple{
    color: var(--fedora-purple);
}


.rounded-left-1{
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.mt--1{
    margin-top:-1rem;
}

.mt--2{
    margin-top:-2rem;
}

.mt--3{
    margin-top:-3rem;
}

.line-height-1{
    line-height: 1rem;
}

.absolute-bottom{
    position:absolute !important;
    bottom:0 !important;
}

a.text-white:hover{
    color: #fff !important;
    text-shadow: 1px 1px 0px #ccc, 2px 2px 0px #999;
}

.text-small{
    font-size:80%!important;
}

.bg-dark a{ color: #ccc;}

.bg-dark a{}