<!DOCTYPE html>
<html lang="en">
    <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
      {% block meta %}{% endblock %}
      <link rel="shortcut icon" href="/static/images/favicon.ico" />
      <link rel="stylesheet" media="screen" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&amp;subset=latin,latin-ext" />
      <link rel='stylesheet' media="screen" href='https://fonts.googleapis.com/css?family=Montserrat:400,700' />
      <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css" />
      <link rel="stylesheet" type="text/css" href="/static/css/app.css" />
      <link rel="stylesheet" type="text/css" href="/static/css/font-awesome.css" />
      <link rel="shortcut icon" href=/static/images/favicon.ico" sizes="16x16 32x32" type="image/vnd.microsoft.icon"/>
      <title>{% block title %}{% endblock %}</title>
    </head>

    <body>
        {% include 'release-tag.html' %}
        <div class="container pb-5 pt-2">
            <div class="row">
                <img src="{% block titlelogo_src %}{%endblock%}" alt="{% block titlelogo_alt %}{% endblock %}" class="mx-auto"/>
            </div>
            <div class="row">
                <div class="col-12 mt-2 text-center text-muted">{% block subheader %}{% endblock %}</div>
            </div>
        </div>  
        <div id="site-content">
            {% block content %}{% endblock %}
        </div>
        {% include 'footer.html' %}
        <script type="text/javascript" src="/static/js/jquery.min.js"></script>
        <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    </body>
</html>