<div class="footer bg-dark text-white font-size-80">
  <div class="container py-4">
    <div class="row footerlinks justify-content-center">
      <div class="col-sm-3 col-4 mt-3">
      <h5 class="text-uppercase"><small><strong>{% trans %}About{% endtrans %}</strong></small></h5>
        <div>
          <dl>
            <dd><a href="https://getfedora.org/">{% trans %}Get Fedora{% endtrans %}</a></dd>
            <dd><a href="https://getfedora.org/en/sponsors">{% trans %}Sponsors{% endtrans %}</a></dd>
            <dd><a href="https://fedoramagazine.org">{% trans %}Fedora Magazine{% endtrans %}</a></dd>
            <dd><a href="https://fedoraproject.org/wiki/Legal:Main#Legal">{% trans %}Legal{% endtrans %}</a></dd>
          </dl>
        </div>
      </div>
      <div class="col-sm-3 col-4 mt-3">
        <h5 class="text-uppercase"><small><strong>{% trans %}Support{% endtrans %}</strong></small></h5>
        <div>
          <dl>
            <dd><a href="https://fedoraproject.org/wiki/Communicating_and_getting_help">{% trans %}Get Help{% endtrans %}</a></dd>
            <dd><a href="https://ask.fedoraproject.org/">{% trans %}Ask Fedora{% endtrans %}</a></dd>
            <dd><a href="https://fedoraproject.org/wiki/Common_F27_bugs">{% trans %}Common Bugs{% endtrans %}</a></dd>
            <dd><a href="https://developer.fedoraproject.org/">{% trans %}Fedora Developer Portal{% endtrans %}</a></dd>
          </dl>
        </div>
      </div>
      <div class="col-sm-3 col-4 mt-3">
        <h5 class="text-uppercase"><small><strong>{% trans %}Community{% endtrans %}</strong></small></h5>
        <div>
          <dl>
            <dd><a href="https://fedoraproject.org/wiki/Join">{% trans %}Join Fedora{% endtrans %}</a></dd>
            <dd><a href="https://fedoraproject.org/wiki/Overview">{% trans %}About Fedora{% endtrans %}</a></dd>
            <dd><a href="http://fedoraplanet.org">{% trans %}Planet Fedora{% endtrans %}</a></dd>
            <dd><a href="https://admin.fedoraproject.org/accounts/">{% trans %}Fedora Account System{% endtrans %}</a></dd>
          </dl>
        </div>
      </div>
    </div> <!-- /row -->
    <div class="row footerlinks py-4">
      <div class="col-12 text-center">
        <a href="https://www.facebook.com/TheFedoraProject" class="btn-social btn-outline"><i class="fab fa-facebook fa-2x"></i></a>
        <a href="https://twitter.com/fedora" class="btn-social btn-outline"><i class="fab fa-twitter fa-2x"></i></a>
      </div>
    </div>

    <div class="row footerlinks">
      <div class="col-12 text-center">
        <p>
          {% trans trimmed link="https://pagure.io/fedora-web/websites/" %}
	  Direct comments and corrections to the <a href="{{link}}">websites team</a>.
          {% endtrans %}
          <div>
          {% trans trimmed link="https://www.redhat.com/en/technologies/linux-platforms/articles/relationship-between-fedora-and-rhel" %}
            Fedora is sponsored by Red Hat. <a href="{{link}}">Learn more about the relationship between Red Hat and Fedora &raquo;</a>
	  {% endtrans %}
          </div>      
          <div class="pt-2">
            <a href="https://www.redhat.com/"><img class="rh-logo" src="/static/images/redhat.png" alt="Red Hat Logo" /></a>
          </div>
        </p>
        <p>
          &copy; 2019 Red Hat, Inc. and others.
        </p>
        <div class="dropdown position-static">
          <a class="dropdown-toggle d-block" href="#" role="button" id="languagechooser" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="fa fa-language mr-2 fa-1x"></span> {{languages[lang_code]}}
          </a>
          
          <div class="dropdown-menu w-100 " aria-labelledby="languagechooser">
            <ul class="list-unstyled font-size-80 text-center" id="languagelist">
              {% for l in languages|sort %}
                <li><a href="{{url_for(endpoint, lang_code=l)}}">{{languages[l]}}</a></li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
