<div class="footer bg-dark text-white font-size-80">
  <div class="container py-4">
    <div class="row footerlinks justify-content-center">
      <div class="col-sm-2 col-xs-4 mt-3">
        <h5 class="text-uppercase"><small><strong>About</strong></small></h5>
        <div>
          <dl>
            <dd><a href="https://getfedora.org/">Get Fedora</a></dd>
            <dd><a href="https://getfedora.org/en/sponsors">Sponsors</a></dd>
            <dd><a href="https://fedoramagazine.org">Fedora Magazine</a></dd>
            <dd><a href="https://fedoraproject.org/wiki/Legal:Main#Legal">Legal</a></dd>
          </dl>
        </div>
      </div>
      <div class="col-sm-2 col-xs-4 mt-3">
        <h5 class="text-uppercase"><small><strong>Support</strong></small></h5>
        <div>
          <dl>
            <dd><a href="https://fedoraproject.org/wiki/Communicating_and_getting_help">Get Help</a></dd>
            <dd><a href="https://ask.fedoraproject.org/">Ask Fedora</a></dd>
            <dd><a href="https://fedoraproject.org/wiki/Common_F27_bugs">Common Bugs</a></dd>
            <dd><a href="https://developer.fedoraproject.org/">Fedora Developer Portal</a></dd>
          </dl>
        </div>
      </div>
      <div class="col-sm-2 col-xs-4 mt-3">
        <h5 class="text-uppercase"><small><strong>Community</strong></small></h5>
        <div>
          <dl>
            <dd><a href="https://fedoraproject.org/wiki/Join">Join Fedora</a></dd>
            <dd><a href="https://fedoraproject.org/wiki/Overview">About Fedora</a></dd>
            <dd><a href="http://fedoraplanet.org">Planet Fedora</a></dd>
            <dd><a href="https://admin.fedoraproject.org/accounts/">Fedora Account System</a></dd>
          </dl>
        </div>
      </div>
    </div> <!-- /row -->
    <div class="row footerlinks py-4">
      <div class="col-12 text-center">
        <a href="https://www.facebook.com/TheFedoraProject" class="btn-social btn-outline"><i class="fab fa-facebook fa-2x"></i></a>
        <a href="https://twitter.com/fedora" class="btn-social btn-outline"><i class="fab fa-twitter fa-2x"></i></a>
      </div>
    </div>

    <div class="row footerlinks">
      <div class="col-12 text-center">
        {% trans %}
        Direct comments and corrections to the <a href="https://pagure.io/fedora-web/websites/">websites team</a>.
        {% endtrans %}

        <br />
        Fedora is sponsored by Red Hat.
        <a href="https://www.redhat.com/en/technologies/linux-platforms/articles/relationship-between-fedora-and-rhel">Learn more about the relationship between Red Hat and Fedora &raquo;</a><br />      
        &copy; 2019 Red Hat, Inc. and others.
        <br />
        <a href="https://www.redhat.com/"><img height="50px" class="rh-logo" src="/static/images/redhat.png" alt="Red Hat Logo" /></a>        
      </div>
    </div>
  </div>
</div>
