
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    {% block meta %}{% endblock %}
    <link rel="shortcut icon" href="/static/images/favicon.ico" />
    <link rel="stylesheet" media="screen" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&amp;subset=latin,latin-ext" />
    <link rel="stylesheet" media="screen" href='https://fonts.googleapis.com/css?family=Montserrat:400,700' />
    {% block css %}{% endblock %}
    <link rel="shortcut icon" href="/static/images/favicon.ico" sizes="16x16 32x32" type="image/vnd.microsoft.icon"/>
    <title>{% block title %}{% endblock %}</title>
  </head>

  <body>
    {# comment this out for now playing with doing this another way -- FIXME #}
    {#% include 'release-tag.html' %#}

    <div class="bg-fedora-blue border-bottom border-fedora-dark-blue border-width-2">
      <div class="container">
        <nav class="navbar navbar-dark navbar-expand-lg bg-none p-0">
          <a class="navbar-brand pb-2" href="/"><img src="/static/images/fedora-logotext-white.png" height="16" alt="Fedora Logo"/></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav  ml-auto font-size-90 font-weight-bold">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {% trans %}Editions{% endtrans %}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <span class="dropdown-header">Official Editions</span>
                  <a class="dropdown-item" href="{{url_for('workstation', lang_code=lang_code)}}">Fedora Workstation</a>
                  <a class="dropdown-item" href="{{url_for('server', lang_code=lang_code)}}">Fedora Server</a>
                  <div class="dropdown-divider"></div>
                  <span class="dropdown-header">Emerging Editions</span>
                  <a class="dropdown-item" href="{{url_for('coreos', lang_code=lang_code)}}">Fedora CoreOS</a>
                  <a class="dropdown-item" href="{{url_for('silverblue', lang_code=lang_code)}}">Fedora Silverblue</a>
                  <a class="dropdown-item" href="{{url_for('iot', lang_code=lang_code)}}">Fedora IoT</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://docs.fedoraproject.org/">
                  {% trans %}Help{% endtrans %}
                </a>
              </li>
            </ul>
          </div>
        </nav>
      </div> 
    </div>
    <div id="site-content">
      {% block content %}{% endblock %}
    </div>
    {% include 'footer.html' %}
    {% block js %}{% endblock %}
  </body>
</html>
