<div>
    <div class="container-fluid">
        <div class="row justify-content-end">
            <div class="col-auto bg-fedora-purple text-white rounded-left-1 px-3 py-1 mt-3">
                <a href="http://fedoramagazine.org/fedora-29-released/" class="text-white">Fedora {{globalvar.release["curr_id"]}} {% trans trimmed %}Released.{% endtrans %}</a> <a href="/downloads.html" class="font-weight-bold text-white">{% trans trimmed %}Get it now.{% endtrans %}</a>
            </div>
        </div>
    </div>
</div>
