


/*bootstrap variable overrides */

$font-family-sans-serif: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$navbar-dark-color: #fff;

@import '../vendor/bootstrap-4.3.1/scss/bootstrap.scss';

$fedora-blue: #3c6eb4;
$fedora-dark-blue: #294172;
$fedora-magenta: #db3279;
$fedora-orange: #e59728;
$fedora-green: #79db32;
$fedora-purple: #a07cbc;

$fedora-colors: (
    "blue": $fedora-blue,
    "dark-blue": $fedora-dark-blue,
    "magenta": $fedora-magenta,
    "orange": $fedora-orange,
    "green": $fedora-green,
    "purple": $fedora-purple
);

@each $color, $value in $fedora-colors {
    .text-fedora-#{$color}{
        color: #{$value};
    }
    .bg-fedora-#{$color}{
        background-color: #{$value};
    }

    .btn-fedora-#{$color} {
        @include button-variant($value, $value);
    }

    .btn-outline-fedora-#{$color} {
        @include button-outline-variant($value);
    }

    .border-fedora-#{$color} {
        border-color: $value !important;
    }

    .editions-cutout-#{$color}{
        background: url(../images/#{$color}-corner-cutout.png) white;
        background-repeat: no-repeat;
        background-position: right bottom;
        background-size: 100px;
    }
}

@each $color, $value in $grays {
    .text-gray-#{$color}{
        color: #{$value};
    }
    .bg-gray-#{$color}{
        background-color: #{$value};
    }
}


.border-width-2 {
    border-width: 2px!important;
}


.rounded-left-1{
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}


.line-height-1{
    line-height: 1rem;
}

.absolute-bottom{
    position:absolute !important;
    bottom:0 !important;
}


.font-size-80{
    font-size:80%!important;
}

.font-size-90{
    font-size:90%!important;
}

/*.bg-dark a{ 
    color: $gray-400;
}*/