{% macro editions_card(color="", logo="", official=False, description='', download_link="", learnmorelink="")%}
<div class="d-flex flex-column h-100 p-3 bg-white rounded border editions-cutout-{{color}}">
  <div class="row">
    <div class="col-9">
      <a href="{{learnmorelink}}"><img src="{{logo}}" class="mt-n5"/></a>
    </div>
    <div class="col-3 line-height-1 text-muted text-right d-none d-sm-block">
      {% if official %}
      <span class="text-uppercase">
        {% trans trimmed %}Official Edition{% endtrans %}
      </span>
      {% endif %}
    </div>
  </div>
  <div class="row py-3">
    <div class="col-10 font-weight-light">
      {{description}}
    </div>
  </div>
  <div class="row align-items-end flex-grow-1">
    <div class="col-8 lead font-weight-normal">
      {% trans trimmed %}
      <a href="{{learnmorelink}}">Learn more</a> or <a href="{{download_link}}">download now</a>.
      {% endtrans %}
    </div>
    <div class="col-4 text-right">
      <a href="{{download_link}}" class="text-white"><i class="fa fa-2x fa-download"></i></a>
    </div>
  </div>
</div>
{% endmacro %}
