{% macro submenu(edition=None, active=None)%}
{% if edition == "server" %}
  {% set logoimage = '<img src="/static/images/logo-inline-server.png" alt="Fedora Server Logo"/>' %}
  {% set activeclass = "active border-bottom border-fedora-orange border-width-3"%}
{% elif edition == "workstation" %}
  {% set logoimage = '<img src="/static/images/logo-inline-workstation.png" alt="Fedora Server Logo"/>' %}
  {% set activeclass = "active border-bottom border-fedora-green border-width-3"%}
{% elif edition == "coreos" %}
  {% set logoimage = '<img src="/static/images/logo-inline-coreos.png" alt="Fedora CoreOS Logo"/>' %}
  {% set activeclass = "active border-bottom border-fedora-magenta border-width-3"%}
{% elif edition == "iot" %}
  {% set logoimage = '<img src="/static/images/logo-inline-iot.png" alt="Fedora IoT Logo"/>' %}
  {% set activeclass = "active border-bottom border-fedora-purple border-width-3"%}
  {% elif edition == "silverblue" %}
{% set logoimage = '<img src="/static/images/logo-inline-silverblue.png" alt="Fedora Silverblue Logo"/>' %}
  {% set activeclass = "active border-bottom border-fedora-darkblue border-width-3"%}
{% endif %}
<div class="bg-light border-bottom">
        <div class="container">
          <nav class="navbar navbar-light navbar-expand-sm bg-none p-0">
              <span class="navbar-brand">
                <a href="{{url_for(edition, lang_code=lang_code)}}">{{logoimage|safe}}</a>
              </span>
              <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav  ml-auto font-size-90 font-weight-bold">
                  <li class="nav-item">
                    <a class="nav-link {{activeclass if active == 'overview'}}" href="{{url_for(edition, lang_code=lang_code)}}">
                      {% trans trimmed %}Overview{% endtrans %}
                    </a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link {{activeclass if active == 'download'}}" href="{{url_for(edition+'_download', lang_code=lang_code)}}">
                        {% trans trimmed %}Download{% endtrans %}
                      </a>
                    </li>
                </ul>
                
              </div>
            </nav>
          </div>
      </div>
{% endmacro %}
