{% extends "master_getfedora.html" %}

{% from "export_regulations.html" import export_regulations %}

{% block title %}{% trans trimmed %}Fedora Alternate Architectures{% endtrans %}{% endblock %}

{% block content %}

{# Header #}
<div class="bg-white py-5">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12">
        <h1 class="font-weight-light">
          {% trans trimmed %}
            Alternative Architectures
          {% endtrans %}
        </h1>
        <p class="font-weight-light lead">
          {% trans trimmed %}
          Additional architectures supported by Fedora.
          {% endtrans %}
        </p>
      </div>
    </div>
  </div>
</div>
<div class="bg-light border py-4">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12">
        <div class="font-weight-light">
          {% trans trimmed link="{{url_for('security', lang_code=lang_code)}}"%}
          Once you have downloaded an image, be sure to verify it <a href="{{link}}">here</a>.
          {% endtrans %}
        </div>
      </div>
    </div>
  </div>
</div>
{# /Header #}

{# aarch64 #}
<div class="bg-white py-5">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-3">
        <h3 class="font-weight-light mb-3">
          {% trans trimmed %}ARM<sup>&reg;</sup> aarch64 images{% endtrans %}
        </h3>
        <p class="font-weight-light">
          {% trans trimmed %}
            These images are for use with AArch64 "Server Base System
            Architecture" (SBSA) compliant systems or Single Board Computers.
          {% endtrans %}
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-6">
        <ul class="list-group">
          {% if releaseinfo.ga.alt.server.download_override.dvd_aarch64 %}
            <li class="list-group-item d-flex align-items-center">
              <div class="flex-grow-1">
                {% trans trimmed n=releaseinfo.ga.alt.server.release_number %}
                  Fedora Server {{n}}: DVD ISO
                {% endtrans %}
              </div>
              <div>
                <a class="btn btn-outline-fedora-orange" href="{{dl(releaseinfo.ga.alt.server.download_override.dvd_aarch64, 'https://download.fedoraproject.org/pub/fedora/linux/releases/%s/Server/aarch64/iso/Fedora-Server-dvd-aarch64-%s-%s.iso' % (releaseinfo.ga.alt.server.release_number, releaseinfo.ga.alt.server.release_number, releaseinfo.ga.alt.server.rc_version))}}">{% trans trimmed %}Download{% endtrans %}</a>
              </div>
            </li>
          {% endif %}

          <!--Beta-->
          {% if releaseinfo.beta.show and releaseinfo.beta.alt.server.download_override.dvd_aarch64 %}
            <li class="list-group-item d-flex align-items-center">
              <div class="flex-grow-1">
                {% trans trimmed n=releaseinfo.beta.alt.server.release_number %}
                  Fedora Server {{n}}: DVD ISO
                {% endtrans %}
                <span class="small badge badge-primary">{% trans trimmed %}Beta!{% endtrans %}</span>
              </div>
              <div>
                <a class="btn btn-outline-fedora-orange" href="{{dl(releaseinfo.beta.alt.server.download_override.dvd_aarch64, 'https://download.fedoraproject.org/pub/fedora/linux/releases/test/%s_Beta/Server/aarch64/iso/Fedora-Server-dvd-aarch64-%s_Beta-%s.iso' % (releaseinfo.beta.alt.server.release_number, releaseinfo.beta.alt.server.release_number, releaseinfo.beta.alt.server.rc_version))}}">{% trans trimmed %}Download{% endtrans %}</a>
              </div>
            </li>
            <hr>
          {% endif %}

          {% if releaseinfo.ga.alt.server.download_override.netinst_aarch64 %}
            <li class="list-group-item d-flex align-items-center">
              <div class="flex-grow-1">
                {% trans trimmed n=releaseinfo.ga.alt.server.release_number %}
                  Fedora Server {{n}}: Netinstall ISO
                {% endtrans %}
              </div>
              <div>
                <a class="btn btn-outline-fedora-orange" href="{{dl(releaseinfo.ga.alt.server.download_override.netinst_aarch64, 'https://download.fedoraproject.org/pub/fedora/linux/releases/%s/Server/aarch64/iso/Fedora-Server-netinst-aarch64-%s-%s.iso' % (releaseinfo.ga.alt.server.release_number, releaseinfo.ga.alt.server.release_number, releaseinfo.ga.alt.server.rc_version))}}">{% trans trimmed %}Download{% endtrans %}</a>
              </div>
            </li>
          {% endif %}

          <!--Beta-->
          {% if releaseinfo.beta.show and releaseinfo.beta.alt.server.download_override.netinst_aarch64 %}
            <li class="list-group-item d-flex align-items-center">
              <div class="flex-grow-1">
                {% trans trimmed n=releaseinfo.beta.alt.server.release_number %}
                  Fedora Server {{n}}: Netinstall ISO
                {% endtrans %}
                <span class="small badge badge-primary">{% trans trimmed %}Beta!{% endtrans %}</span>
              </div>
              <div>
                <a class="btn btn-outline-fedora-orange" href="{{dl(releaseinfo.beta.alt.server.download_override.netinst_aarch64, 'https://download.fedoraproject.org/pub/fedora/linux/releases/test/%s_Beta/Server/aarch64/iso/Fedora-Server-netinst-aarch64-%s_Beta-%s.iso' % (releaseinfo.beta.alt.server.release_number, releaseinfo.beta.alt.server.release_number, releaseinfo.beta.alt.server.rc_version))}}">{% trans trimmed %}Download{% endtrans %}</a>
              </div>
            </li>
            <hr>
          {% endif %}

          {% if releaseinfo.ga.alt.workstation.download_override.raw_aarch64 %}
            <li class="list-group-item d-flex align-items-center">
              <div class="flex-grow-1">
                {% trans trimmed n=releaseinfo.ga.alt.workstation.release_number %}
                  Fedora Workstation {{n}}: DVD ISO
                {% endtrans %}
              </div>
              <div>
                <a class="btn btn-outline-fedora-green" href="{{dl(releaseinfo.ga.alt.workstation.download_override.raw_aarch64, 'https://download.fedoraproject.org/pub/fedora/linux/releases/%s/Workstation/aarch64/images/Fedora-Workstation-%s-%s.aarch64.raw.xz' % (releaseinfo.ga.alt.workstation.release_number, releaseinfo.ga.alt.workstation.release_number, releaseinfo.ga.alt.workstation.rc_version))}}">{% trans trimmed %}Download{% endtrans %}</a>
              </div>
            </li>
          {% endif %}

          <!--Beta-->
          {% if releaseinfo.beta.show and releaseinfo.beta.alt.workstation.download_override.raw_aarch64 %}
            <li class="list-group-item d-flex align-items-center">
              <div class="flex-grow-1">
                {% trans trimmed n=releaseinfo.beta.alt.workstation.release_number %}
                  Fedora Workstation {{n}}: DVD ISO
                {% endtrans %}
                <span class="small badge badge-primary">{% trans trimmed %}Beta!{% endtrans %}</span>
              </div>
              <div>
                <a class="btn btn-outline-fedora-green" href="{{dl(releaseinfo.beta.alt.workstation.download_override.raw_aarch64, 'https://download.fedoraproject.org/pub/fedora/linux/releases/test/%s_Beta/Workstation/aarch64/iso/Fedora-Workstation-%s_Beta-%s.aarch64.raw.xz' % (releaseinfo.beta.alt.workstation.release_number, releaseinfo.beta.alt.workstation.release_number, releaseinfo.beta.alt.workstation.rc_version))}}">{% trans trimmed %}Download{% endtrans %}</a>
              </div>
            </li>
            <hr>
          {% endif %}

          {% if releaseinfo.ga.alt.spin_minimal.download_override.raw_aarch64 %}
            <li class="list-group-item d-flex align-items-center">
              <div class="flex-grow-1">
                {% trans trimmed n=releaseinfo.ga.alt.spin_minimal.release_number %}
                  Fedora Minimal {{n}}: Raw Image
                {% endtrans %}
              </div>
              <div>
                <a class="btn btn-outline-fedora-dark-blue" href="{{dl(releaseinfo.ga.alt.spin_minimal.download_override.raw_aarch64, 'https://download.fedoraproject.org/pub/fedora-secondary/releases/%s/Spins/aarch64/images/Fedora-Minimal-%s-%s.aarch64.raw.xz' % (releaseinfo.ga.alt.spin_minimal.release_number, releaseinfo.ga.alt.spin_minimal.release_number, releaseinfo.ga.alt.spin_minimal.rc_version))}}">{% trans trimmed %}Download{% endtrans %}</a>
              </div>
            </li>
          {% endif %}

          <!--Beta-->
          {% if releaseinfo.beta.show and releaseinfo.beta.alt.spin_minimal.download_override.raw_aarch64 %}
            <li class="list-group-item d-flex align-items-center">
              <div class="flex-grow-1">
                {% trans trimmed n=releaseinfo.beta.alt.spin_minimal.release_number %}
                  Fedora Minimal {{n}}: Raw Image
                {% endtrans %}
                <span class="small badge badge-primary">{% trans trimmed %}Beta!{% endtrans %}</span>
              </div>
              <div>
                <a class="btn btn-outline-fedora-dark-blue" href="{{dl(releaseinfo.beta.alt.spin_minimal.download_override.raw_aarch64, 'https://download.fedoraproject.org/pub/fedora-secondary/releases/test/%s_Beta/Spins/aarch64/images/Fedora-Minimal-%s_Beta-%s.aarch64.raw.xz' % (releaseinfo.beta.alt.spin_minimal.release_number, releaseinfo.beta.alt.spin_minimal.release_number, releaseinfo.beta.alt.spin_minimal.rc_version))}}">{% trans trimmed %}Download{% endtrans %}</a>
              </div>
            </li>
            <hr>
          {% endif %}
        </ul>
      </div>
      <div class="col-12 col-md-6">
        <ul class="list-group">
          {% if releaseinfo.ga.alt.everything.download_override.netinst_aarch64 %}
            <li class="list-group-item d-flex align-items-center">
              <div class="flex-grow-1">
                {% trans trimmed n=releaseinfo.ga.alt.everything.release_number %}
                  Fedora Everything {{n}}: Netinstall ISO
                {% endtrans %}
              </div>
              <div>
                <a class="btn btn-outline-fedora-dark-blue" href="{{dl(releaseinfo.ga.alt.everything.download_override.netinst_aarch64, 'https://download.fedoraproject.org/pub/fedora/linux/releases/%s/Everything/aarch64/iso/Fedora-Everything-netinst-aarch64-%s-%s.iso' % (releaseinfo.ga.alt.everything.release_number, releaseinfo.ga.alt.everything.release_number, releaseinfo.ga.alt.everything.rc_version))}}">{% trans trimmed %}Download{% endtrans %}</a>
              </div>
            </li>
          {% endif %}

          <!--Beta-->
          {% if releaseinfo.beta.show and releaseinfo.beta.alt.everything.download_override.netinst_aarch64 %}
            <li class="list-group-item d-flex align-items-center">
              <div class="flex-grow-1">
                {% trans trimmed n=releaseinfo.beta.alt.everything.release_number %}
                  Fedora Everything {{n}}: Netinstall ISO
                {% endtrans %}
                <span class="small badge badge-primary">{% trans trimmed %}Beta!{% endtrans %}</span>
              </div>
              <div>
                <a class="btn btn-outline-fedora-dark-blue" href="{{dl(releaseinfo.beta.alt.everything.download_override.netinst_aarch64, 'https://download.fedoraproject.org/pub/fedora/linux/releases/%s_Beta/Everything/aarch64/iso/Fedora-Everything-netinst-aarch64-%s_Beta-%s.iso' % (releaseinfo.beta.alt.everything.release_number, releaseinfo.beta.alt.everything.release_number, releaseinfo.beta.alt.everything.rc_version))}}">{% trans trimmed %}Download{% endtrans %}</a>
              </div>
            </li>
            <hr>
          {% endif %}

          {% if releaseinfo.ga.alt.cloud.download_override.qcow2_aarch64 %}
            <li class="list-group-item d-flex align-items-center">
              <div class="flex-grow-1">
                {% trans trimmed n=releaseinfo.ga.alt.cloud.release_number %}
                  Fedora Cloud {{n}}: qcow2 Image
                {% endtrans %}
              </div>
              <div>
                <a class="btn btn-outline-fedora-dark-blue" href="{{dl(releaseinfo.ga.alt.cloud.download_override.qcow2_aarch64, 'https://download.fedoraproject.org/pub/fedora/linux/releases/%s/Cloud/aarch64/images/Fedora-Cloud-Base-%s-%s.aarch64.qcow2' % (releaseinfo.ga.alt.cloud.release_number, releaseinfo.ga.alt.cloud.release_number, releaseinfo.ga.alt.cloud.rc_version))}}">{% trans trimmed %}Download{% endtrans %}</a>
              </div>
            </li>
          {% endif %}

          <!--Beta-->
          {% if releaseinfo.beta.show and releaseinfo.beta.alt.cloud.download_override.qcow2_aarch64 %}
            <li class="list-group-item d-flex align-items-center">
              <div class="flex-grow-1">
                {% trans trimmed n=releaseinfo.beta.alt.cloud.release_number %}
                  Fedora Cloud {{n}}: qcow2 Image
                {% endtrans %}
                <span class="small badge badge-primary">{% trans trimmed %}Beta!{% endtrans %}</span>
              </div>
              <div>
                <a class="btn btn-outline-fedora-dark-blue" href="{{dl(releaseinfo.beta.alt.cloud.download_override.qcow2_aarch64, 'https://download.fedoraproject.org/pub/fedora/linux/releases/%s_Beta/Cloud/aarch64/images/Fedora-Cloud-Base-%s_Beta-%s.aarch64.qcow2' % (releaseinfo.beta.alt.cloud.release_number, releaseinfo.beta.alt.cloud.release_number, releaseinfo.beta.alt.cloud.rc_version))}}">{% trans trimmed %}Download{% endtrans %}</a>
              </div>
            </li>
            <hr>
          {% endif %}

          {% if releaseinfo.ga.alt.cloud.download_override.raw_aarch64 %}
            <li class="list-group-item d-flex align-items-center">
              <div class="flex-grow-1">
                {% trans trimmed n=releaseinfo.ga.alt.cloud.release_number %}
                  Fedora Cloud {{n}}: Raw Image
                {% endtrans %}
              </div>
              <div>
                <a class="btn btn-outline-fedora-dark-blue" href="{{dl(releaseinfo.ga.alt.cloud.download_override.raw_aarch64, 'https://download.fedoraproject.org/pub/fedora/linux/releases/%s/Cloud/aarch64/images/Fedora-Cloud-Base-%s-%s.aarch64.raw.xz' % (releaseinfo.ga.alt.cloud.release_number, releaseinfo.ga.alt.cloud.release_number, releaseinfo.ga.alt.cloud.rc_version))}}">{% trans trimmed %}Download{% endtrans %}</a>
              </div>
            </li>
          {% endif %}

          <!--Beta-->
          {% if releaseinfo.beta.show and releaseinfo.beta.alt.cloud.download_override.raw_aarch64 %}
            <li class="list-group-item d-flex align-items-center">
              <div class="flex-grow-1">
                {% trans trimmed n=releaseinfo.beta.alt.cloud.release_number %}
                  Fedora Cloud {{n}}: Raw Image
                {% endtrans %}
                <span class="small badge badge-primary">{% trans trimmed %}Beta!{% endtrans %}</span>
              </div>
              <div>
                <a class="btn btn-outline-fedora-dark-blue" href="{{dl(releaseinfo.beta.alt.cloud.download_override.raw_aarch64, 'https://download.fedoraproject.org/pub/fedora/linux/releases/%s_Beta/Cloud/aarch64/images/Fedora-Cloud-Base-%s_Beta-%s.aarch64.raw.xz' % (releaseinfo.beta.alt.cloud.release_number, releaseinfo.beta.alt.cloud.release_number, releaseinfo.beta.alt.cloud.rc_version))}}">{% trans trimmed %}Download{% endtrans %}</a>
              </div>
            </li>
            <hr>
          {% endif %}

          {% if releaseinfo.ga.alt.container.download_override.aarch64 %}
            <li class="list-group-item d-flex align-items-center">
              <div class="flex-grow-1">
                {% trans trimmed n=releaseinfo.ga.alt.cloud.release_number %}
                  Fedora {{n}}: Container Image
                {% endtrans %}
              </div>
              <div>
                <a class="btn btn-outline-fedora-dark-blue" href="{{dl(releaseinfo.ga.alt.container.download_override.aarch64, 'https://download.fedoraproject.org/pub/fedora/linux/releases/%s/Container/aarch64/images/Fedora-Container-Base-%s-%s.aarch64.tar.xz' % (releaseinfo.ga.alt.container.release_number, releaseinfo.ga.alt.container.release_number, releaseinfo.ga.alt.container.rc_version))}}">{% trans trimmed %}Download{% endtrans %}</a>
              </div>
            </li>
          {% endif %}

          <!--Beta-->
          {% if releaseinfo.beta.show and releaseinfo.beta.alt.cloud.download_override.raw_aarch64 %}
            <li class="list-group-item d-flex align-items-center">
              <div class="flex-grow-1">
                {% trans trimmed n=releaseinfo.beta.alt.cloud.release_number %}
                  Fedora {{n}}: Container Image
                {% endtrans %}
                <span class="small badge badge-primary">{% trans trimmed %}Beta!{% endtrans %}</span>
              </div>
              <div>
                <a class="btn btn-outline-fedora-dark-blue" href="{{dl(releaseinfo.beta.alt.container.download_override.aarch64, 'https://download.fedoraproject.org/pub/fedora/linux/releases/%s_Beta/Container/aarch64/images/Fedora-Container-Base-%s_Beta-%s.aarch64.tar.xz' % (releaseinfo.beta.alt.container.release_number, releaseinfo.beta.alt.container.release_number, releaseinfo.beta.alt.container.rc_version))}}">{% trans trimmed %}Download{% endtrans %}</a>
              </div>
            </li>
            <hr>
          {% endif %}
        </ul>
      </div>
    </div>

    <hr />

    <div class="row">
      <div class="col-12">
        <h3 class="font-weight-light text-center py-3">
          {% trans trimmed %}Resources{% endtrans %}
        </h3>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-lg-4">
        <h4 class="font-weight-light">
          <i class="fa fa-fw header-icon fa-book"></i>
          {% trans trimmed %}Documentation{% endtrans %}
        </h4>
        <p class="font-weight-light">
          {% trans trimmed link="https://docs.fedoraproject.org/" %}
            A guide for Fedora on aarch64, including a list of supported
            hardware platforms and installation instructions is available at the
            <a href="{{ link }}">Fedora Documentation Site</a>.
          {% endtrans %}
        </p>
      </div>

      <div class="col-12 col-lg-4">
        <h4 class="font-weight-light">
          <i class="fa fa-fw header-icon fa-envelope"></i>
          {% trans trimmed %}Mailing List{% endtrans %}
        </h4>
        <p class="font-weight-light">
          {% trans trimmed link="https://admin.fedoraproject.org/mailman/listinfo/arm" %}
            Users and developers are also available on the mailing list at
            <a href="{{ link }}">arm@lists.fedoraproject.org</a>.
          {% endtrans %}
        </p>
      </div>

      <div class="col-12 col-lg-4">
        <h4 class="font-weight-light">
          <i class="fa fa-fw header-icon fa-comments"></i>
          {% trans trimmed %}Chat{% endtrans %}
        </h4>
        <p class="font-weight-light">
          {% trans trimmed link="http://webchat.freenode.net/?channels=fedora-arm" %}
            Users and developers are available in the
            <a href="{{ link }}">#fedora-arm</a> IRC channel on
            <strong>irc.freenode.org</strong> for real-time chat.
          {% endtrans %}
        </p>
      </div>
    </div>
  </div>
</div>

<div class="bg-white py-5">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-3">
        <h3 class="font-weight-light mb-3">
          {% trans trimmed %}PPC64LE images{% endtrans %}
        </h3>
        <p class="font-weight-light">
          {% trans trimmed %}
            PPC64LE images are for installation on IBM Power systems or OpenPOWER systems.
          {% endtrans %}
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-6">
        <ul class="list-group">
          {% if releaseinfo.ga.alt.server.download_override.dvd_ppc64le %}
            <li class="list-group-item d-flex align-items-center">
              <div class="flex-grow-1">
                {% trans trimmed n=releaseinfo.ga.alt.server.release_number %}
                  Fedora Server {{n}}: DVD ISO
                {% endtrans %}
              </div>
              <div>
                <a class="btn btn-outline-fedora-orange" href="{{dl(releaseinfo.ga.alt.server.download_override.dvd_ppc64le, 'https://download.fedoraproject.org/pub/fedora-secondary/releases/%s/Server/ppc64le/iso/Fedora-Server-dvd-ppc64le-%s-%s.iso' % (releaseinfo.ga.alt.server.release_number, releaseinfo.ga.alt.server.release_number, releaseinfo.ga.alt.server.rc_version))}}">{% trans trimmed %}Download{% endtrans %}</a>
              </div>
            </li>
          {% endif %}

          <!--Beta-->
          {% if releaseinfo.beta.show and releaseinfo.beta.alt.server.download_override.dvd_ppc64le %}
            <li class="list-group-item d-flex align-items-center">
              <div class="flex-grow-1">
                {% trans trimmed n=releaseinfo.beta.alt.server.release_number %}
                  Fedora Server {{n}}: DVD ISO
                {% endtrans %}
                <span class="small badge badge-primary">{% trans trimmed %}Beta!{% endtrans %}</span>
              </div>
              <div>
                <a class="btn btn-outline-fedora-orange" href="{{dl(releaseinfo.beta.alt.server.download_override.dvd_ppc64le, 'https://download.fedoraproject.org/pub/fedora-secondary/releases/test/%s_Beta/Server/ppc64le/iso/Fedora-Server-dvd-ppc64le-%s_Beta-%s.iso' % (releaseinfo.beta.alt.server.release_number, releaseinfo.beta.alt.server.release_number, releaseinfo.beta.alt.server.rc_version))}}">{% trans trimmed %}Download{% endtrans %}</a>
              </div>
            </li>
            <hr>
          {% endif %}

          {% if releaseinfo.ga.alt.server.download_override.netinst_ppc64le %}
            <li class="list-group-item d-flex align-items-center">
              <div class="flex-grow-1">
                {% trans trimmed n=releaseinfo.ga.alt.server.release_number %}
                  Fedora Server {{n}}: Netinstall ISO
                {% endtrans %}
              </div>
              <div>
                <a class="btn btn-outline-fedora-orange" href="{{dl(releaseinfo.ga.alt.server.download_override.netinst_ppc64le, 'https://download.fedoraproject.org/pub/fedora-secondary/releases/%s/Server/ppc64le/iso/Fedora-Server-netinst-ppc64le-%s-%s.iso' % (releaseinfo.ga.alt.server.release_number, releaseinfo.ga.alt.server.release_number, releaseinfo.ga.alt.server.rc_version))}}">{% trans trimmed %}Download{% endtrans %}</a>
              </div>
            </li>
          {% endif %}

          <!--Beta-->
          {% if releaseinfo.beta.show and releaseinfo.beta.alt.server.download_override.netinst_ppc64le %}
            <li class="list-group-item d-flex align-items-center">
              <div class="flex-grow-1">
                {% trans trimmed n=releaseinfo.beta.alt.server.release_number %}
                  Fedora Server {{n}}: Netinstall ISO
                {% endtrans %}
                <span class="small badge badge-primary">{% trans trimmed %}Beta!{% endtrans %}</span>
              </div>
              <div>
                <a class="btn btn-outline-fedora-orange" href="{{dl(releaseinfo.beta.alt.server.download_override.netinst_ppc64le, 'https://download.fedoraproject.org/pub/fedora-secondary/releases/test/%s_Beta/Server/ppc64le/iso/Fedora-Server-netinst-ppc64le-%s_Beta-%s.iso' % (releaseinfo.beta.alt.server.release_number, releaseinfo.beta.alt.server.release_number, releaseinfo.beta.alt.server.rc_version))}}">{% trans trimmed %}Download{% endtrans %}</a>
              </div>
            </li>
            <hr>
          {% endif %}

          {% if releaseinfo.ga.alt.everything.download_override.netinst_ppc64le %}
            <li class="list-group-item d-flex align-items-center">
              <div class="flex-grow-1">
                {% trans trimmed n=releaseinfo.ga.alt.everything.release_number %}
                  Fedora Everything {{n}}: Netinstall ISO
                {% endtrans %}
              </div>
              <div>
                <a class="btn btn-outline-fedora-dark-blue" href="{{dl(releaseinfo.ga.alt.everything.download_override.netinst_ppc64le, 'https://download.fedoraproject.org/pub/fedora-secondary/releases/%s/Everything/ppc64le/iso/Fedora-Everything-netinst-ppc64le-%s-%s.iso' % (releaseinfo.ga.alt.everything.release_number, releaseinfo.ga.alt.everything.release_number, releaseinfo.ga.alt.everything.rc_version))}}">{% trans trimmed %}Download{% endtrans %}</a>
              </div>
            </li>
          {% endif %}

          <!--Beta-->
          {% if releaseinfo.beta.show and releaseinfo.beta.alt.everything.download_override.netinst_ppc64le %}
            <li class="list-group-item d-flex align-items-center">
              <div class="flex-grow-1">
                {% trans trimmed n=releaseinfo.beta.alt.everything.release_number %}
                  Fedora Everything {{n}}: Netinstall ISO
                {% endtrans %}
                <span class="small badge badge-primary">{% trans trimmed %}Beta!{% endtrans %}</span>
              </div>
              <div>
                <a class="btn btn-outline-fedora-dark-blue" href="{{dl(releaseinfo.beta.alt.everything.download_override.netinst_ppc64le, 'https://download.fedoraproject.org/pub/fedora-secondary/releases/test/%s_Beta/Everything/ppc64le/iso/Fedora-Everything-netinst-ppc64le-%s_Beta-%s.iso' % (releaseinfo.beta.alt.everything.release_number, releaseinfo.beta.alt.everything.release_number, releaseinfo.beta.alt.everything.rc_version))}}">{% trans trimmed %}Download{% endtrans %}</a>
              </div>
            </li>
            <hr>
          {% endif %}
        </ul>
      </div>
      <div class="col-12 col-md-6">
        <ul class="list-group">

          {% if releaseinfo.ga.alt.cloud.download_override.qcow2_ppc64le %}
            <li class="list-group-item d-flex align-items-center">
              <div class="flex-grow-1">
                {% trans trimmed n=releaseinfo.ga.alt.cloud.release_number %}
                  Fedora Cloud {{n}}: qcow2 Image
                {% endtrans %}
              </div>
              <div>
                <a class="btn btn-outline-fedora-dark-blue" href="{{dl(releaseinfo.ga.alt.cloud.download_override.qcow2_ppc64le, 'https://download.fedoraproject.org/pub/fedora-secondary/releases/%s/Cloud/ppc64le/images/Fedora-Cloud-Base-%s-%s.ppc64le.qcow2' % (releaseinfo.ga.alt.cloud.release_number, releaseinfo.ga.alt.cloud.release_number, releaseinfo.ga.alt.cloud.rc_version))}}">{% trans trimmed %}Download{% endtrans %}</a>
              </div>
            </li>
          {% endif %}

          <!--Beta-->
          {% if releaseinfo.beta.show and releaseinfo.beta.alt.cloud.download_override.qcow2_ppc64le %}
            <li class="list-group-item d-flex align-items-center">
              <div class="flex-grow-1">
                {% trans trimmed n=releaseinfo.beta.alt.cloud.release_number %}
                  Fedora Cloud {{n}}: qcow2 Image
                {% endtrans %}
                <span class="small badge badge-primary">{% trans trimmed %}Beta!{% endtrans %}</span>
              </div>
              <div>
                <a class="btn btn-outline-fedora-dark-blue" href="{{dl(releaseinfo.beta.alt.cloud.download_override.qcow2_ppc64le, 'https://download.fedoraproject.org/pub/fedora-secondary/releases/test/%s_Beta/Cloud/ppc64le/images/Fedora-Cloud-Base-%s_Beta-%s.ppc64le.qcow2' % (releaseinfo.beta.alt.cloud.release_number, releaseinfo.beta.alt.cloud.release_number, releaseinfo.beta.alt.cloud.rc_version))}}">{% trans trimmed %}Download{% endtrans %}</a>
              </div>
            </li>
            <hr>
          {% endif %}

          {% if releaseinfo.ga.alt.cloud.download_override.raw_ppc64le %}
            <li class="list-group-item d-flex align-items-center">
              <div class="flex-grow-1">
                {% trans trimmed n=releaseinfo.ga.alt.cloud.release_number %}
                  Fedora Cloud {{n}}: Raw Image
                {% endtrans %}
              </div>
              <div>
                <a class="btn btn-outline-fedora-dark-blue" href="{{dl(releaseinfo.ga.alt.cloud.download_override.raw_ppc64le, 'https://download.fedoraproject.org/pub/fedora-secondary/releases/%s/Cloud/ppc64le/images/Fedora-Cloud-Base-%s-%s.ppc64le.raw.xz' % (releaseinfo.ga.alt.cloud.release_number, releaseinfo.ga.alt.cloud.release_number, releaseinfo.ga.alt.cloud.rc_version))}}">{% trans trimmed %}Download{% endtrans %}</a>
              </div>
            </li>
          {% endif %}

          <!--Beta-->
          {% if releaseinfo.beta.show and releaseinfo.beta.alt.cloud.download_override.raw_ppc64le %}
            <li class="list-group-item d-flex align-items-center">
              <div class="flex-grow-1">
                {% trans trimmed n=releaseinfo.beta.alt.cloud.release_number %}
                  Fedora Cloud {{n}}: Raw Image
                {% endtrans %}
                <span class="small badge badge-primary">{% trans trimmed %}Beta!{% endtrans %}</span>
              </div>
              <div>
                <a class="btn btn-outline-fedora-dark-blue" href="{{dl(releaseinfo.beta.alt.cloud.download_override.raw_ppc64le, 'https://download.fedoraproject.org/pub/fedora-secondary/releases/test/%s_Beta/Cloud/ppc64le/images/Fedora-Cloud-Base-%s_Beta-%s.ppc64le.raw.xz' % (releaseinfo.beta.alt.cloud.release_number, releaseinfo.beta.alt.cloud.release_number, releaseinfo.beta.alt.cloud.rc_version))}}">{% trans trimmed %}Download{% endtrans %}</a>
              </div>
            </li>
            <hr>
          {% endif %}

          {% if releaseinfo.ga.alt.container.download_override.ppc64le %}
            <li class="list-group-item d-flex align-items-center">
              <div class="flex-grow-1">
                {% trans trimmed n=releaseinfo.ga.alt.cloud.release_number %}
                  Fedora {{n}}: Container Image
                {% endtrans %}
              </div>
              <div>
                <a class="btn btn-outline-fedora-dark-blue" href="{{dl(releaseinfo.ga.alt.container.download_override.ppc64le, 'https://download.fedoraproject.org/pub/fedora-secondary/releases/%s/Container/ppc64le/images/Fedora-Container-Base-%s-%s.ppc64le.tar.xz' % (releaseinfo.ga.alt.container.release_number, releaseinfo.ga.alt.container.release_number, releaseinfo.ga.alt.container.rc_version))}}">{% trans trimmed %}Download{% endtrans %}</a>
              </div>
            </li>
          {% endif %}

          <!--Beta-->
          {% if releaseinfo.beta.show and releaseinfo.beta.alt.cloud.download_override.raw_ppc64le %}
            <li class="list-group-item d-flex align-items-center">
              <div class="flex-grow-1">
                {% trans trimmed n=releaseinfo.beta.alt.cloud.release_number %}
                  Fedora {{n}}: Container Image
                {% endtrans %}
                <span class="small badge badge-primary">{% trans trimmed %}Beta!{% endtrans %}</span>
              </div>
              <div>
                <a class="btn btn-outline-fedora-dark-blue" href="{{dl(releaseinfo.beta.alt.container.download_override.ppc64le, 'https://download.fedoraproject.org/pub/fedora-secondary/releases/test/%s_Beta/Container/ppc64le/images/Fedora-Container-Base-%s_Beta-%s.ppc64le.tar.xz' % (releaseinfo.beta.alt.container.release_number, releaseinfo.beta.alt.container.release_number, releaseinfo.beta.alt.container.rc_version))}}">{% trans trimmed %}Download{% endtrans %}</a>
              </div>
            </li>
            <hr>
          {% endif %}
        </ul>
      </div>
    </div>

    <hr />

    <div class="row">
      <div class="col-12">
        <h3 class="font-weight-light text-center py-3">
          {% trans trimmed %}Resources{% endtrans %}
        </h3>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-lg-4">
        <h4 class="font-weight-light">
          <i class="fa fa-fw header-icon fa-book"></i>
          {% trans trimmed %}Documentation{% endtrans %}
        </h4>
        <p class="font-weight-light">
          {% trans trimmed link="https://fedoraproject.org/wiki/Architectures/PowerPC" %}
            A wiki page with information about Power Architecture on Fedora is available on the
            <a href="{{ link }}">Fedora Project Wiki</a>.
          {% endtrans %}
        </p>
      </div>

      <div class="col-12 col-lg-4">
        <h4 class="font-weight-light">
          <i class="fa fa-fw header-icon fa-envelope"></i>
          {% trans trimmed %}Mailing List{% endtrans %}
        </h4>
        <p class="font-weight-light">
          {% trans trimmed link="https://admin.fedoraproject.org/mailman/listinfo/ppc" %}
            Users and developers are also available on the mailing list at
            <a href="{{ link }}">ppc@lists.fedoraproject.org</a>.
          {% endtrans %}
        </p>
      </div>

      <div class="col-12 col-lg-4">
        <h4 class="font-weight-light">
          <i class="fa fa-fw header-icon fa-comments"></i>
          {% trans trimmed %}Chat{% endtrans %}
        </h4>
        <p class="font-weight-light">
          {% trans trimmed link="http://webchat.freenode.net/?channels=fedora-ppc" %}
            Users and developers are available in the
            <a href="{{ link }}">#fedora-ppc</a> IRC channel on
            <strong>irc.freenode.org</strong> for real-time chat.
          {% endtrans %}
        </p>
      </div>
    </div>
  </div>
</div>

<div class="bg-light border py-5">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-3">
        <h3 class="font-weight-light mb-3">
          {% trans trimmed %}S390X images{% endtrans %}
        </h3>
        <p class="font-weight-light">
          {% trans trimmed %}
          If you want to install Fedora on IBM z Systems, then you are looking for this architecture.
          {% endtrans %}
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-6">
        <ul class="list-group">
          {% if releaseinfo.ga.alt.server.download_override.dvd_s390x %}
            <li class="list-group-item d-flex align-items-center">
              <div class="flex-grow-1">
                {% trans trimmed n=releaseinfo.ga.alt.server.release_number %}
                  Fedora Server {{n}}: DVD ISO
                {% endtrans %}
              </div>
              <div>
                <a class="btn btn-outline-fedora-orange" href="{{dl(releaseinfo.ga.alt.server.download_override.dvd_s390x, 'https://download.fedoraproject.org/pub/fedora-secondary/releases/%s/Server/s390x/iso/Fedora-Server-dvd-s390x-%s-%s.iso' % (releaseinfo.ga.alt.server.release_number, releaseinfo.ga.alt.server.release_number, releaseinfo.ga.alt.server.rc_version))}}">{% trans trimmed %}Download{% endtrans %}</a>
              </div>
            </li>
          {% endif %}

          <!--Beta-->
          {% if releaseinfo.beta.show and releaseinfo.beta.alt.server.download_override.dvd_s390x %}
            <li class="list-group-item d-flex align-items-center">
              <div class="flex-grow-1">
                {% trans trimmed n=releaseinfo.beta.alt.server.release_number %}
                  Fedora Server {{n}}: DVD ISO
                {% endtrans %}
                <span class="small badge badge-primary">{% trans trimmed %}Beta!{% endtrans %}</span>
              </div>
              <div>
                <a class="btn btn-outline-fedora-orange" href="{{dl(releaseinfo.beta.alt.server.download_override.dvd_s390x, 'https://download.fedoraproject.org/pub/fedora-secondary/releases/test/%s_Beta/Server/s390x/iso/Fedora-Server-dvd-s390x-%s_Beta-%s.iso' % (releaseinfo.beta.alt.server.release_number, releaseinfo.beta.alt.server.release_number, releaseinfo.beta.alt.server.rc_version))}}">{% trans trimmed %}Download{% endtrans %}</a>
              </div>
            </li>
            <hr>
          {% endif %}

          {% if releaseinfo.ga.alt.server.download_override.netinst_s390x %}
            <li class="list-group-item d-flex align-items-center">
              <div class="flex-grow-1">
                {% trans trimmed n=releaseinfo.ga.alt.server.release_number %}
                  Fedora Server {{n}}: Netinstall ISO
                {% endtrans %}
              </div>
              <div>
                <a class="btn btn-outline-fedora-orange" href="{{dl(releaseinfo.ga.alt.server.download_override.netinst_s390x, 'https://download.fedoraproject.org/pub/fedora-secondary/releases/%s/Server/s390x/iso/Fedora-Server-netinst-s390x-%s-%s.iso' % (releaseinfo.ga.alt.server.release_number, releaseinfo.ga.alt.server.release_number, releaseinfo.ga.alt.server.rc_version))}}">{% trans trimmed %}Download{% endtrans %}</a>
              </div>
            </li>
          {% endif %}

          <!--Beta-->
          {% if releaseinfo.beta.show and releaseinfo.beta.alt.server.download_override.netinst_s390x %}
            <li class="list-group-item d-flex align-items-center">
              <div class="flex-grow-1">
                {% trans trimmed n=releaseinfo.beta.alt.server.release_number %}
                  Fedora Server {{n}}: Netinstall ISO
                {% endtrans %}
                <span class="small badge badge-primary">{% trans trimmed %}Beta!{% endtrans %}</span>
              </div>
              <div>
                <a class="btn btn-outline-fedora-orange" href="{{dl(releaseinfo.beta.alt.server.download_override.netinst_s390x, 'https://download.fedoraproject.org/pub/fedora-secondary/releases/test/%s_Beta/Server/s390x/iso/Fedora-Server-netinst-s390x-%s_Beta-%s.iso' % (releaseinfo.beta.alt.server.release_number, releaseinfo.beta.alt.server.release_number, releaseinfo.beta.alt.server.rc_version))}}">{% trans trimmed %}Download{% endtrans %}</a>
              </div>
            </li>
            <hr>
          {% endif %}

          {% if releaseinfo.ga.alt.everything.download_override.netinst_s390x %}
            <li class="list-group-item d-flex align-items-center">
              <div class="flex-grow-1">
                {% trans trimmed n=releaseinfo.ga.alt.everything.release_number %}
                  Fedora Everything {{n}}: Netinstall ISO
                {% endtrans %}
              </div>
              <div>
                <a class="btn btn-outline-fedora-dark-blue" href="{{dl(releaseinfo.ga.alt.everything.download_override.netinst_s390x, 'https://download.fedoraproject.org/pub/fedora-secondary/releases/%s/Everything/s390x/iso/Fedora-Everything-netinst-s390x-%s-%s.iso' % (releaseinfo.ga.alt.everything.release_number, releaseinfo.ga.alt.everything.release_number, releaseinfo.ga.alt.everything.rc_version))}}">{% trans trimmed %}Download{% endtrans %}</a>
              </div>
            </li>
          {% endif %}

          <!--Beta-->
          {% if releaseinfo.beta.show and releaseinfo.beta.alt.everything.download_override.netinst_s390x %}
            <li class="list-group-item d-flex align-items-center">
              <div class="flex-grow-1">
                {% trans trimmed n=releaseinfo.beta.alt.everything.release_number %}
                  Fedora Everything {{n}}: Netinstall ISO
                {% endtrans %}
                <span class="small badge badge-primary">{% trans trimmed %}Beta!{% endtrans %}</span>
              </div>
              <div>
                <a class="btn btn-outline-fedora-dark-blue" href="{{dl(releaseinfo.beta.alt.everything.download_override.netinst_s390x, 'https://download.fedoraproject.org/pub/fedora-secondary/releases/test/%s_Beta/Everything/s390x/iso/Fedora-Everything-netinst-s390x-%s_Beta-%s.iso' % (releaseinfo.beta.alt.everything.release_number, releaseinfo.beta.alt.everything.release_number, releaseinfo.beta.alt.everything.rc_version))}}">{% trans trimmed %}Download{% endtrans %}</a>
              </div>
            </li>
            <hr>
          {% endif %}
        </ul>
      </div>
      <div class="col-12 col-md-6">
        <ul class="list-group">
          {% if releaseinfo.ga.alt.cloud.download_override.qcow2_s390x %}
            <li class="list-group-item d-flex align-items-center">
              <div class="flex-grow-1">
                {% trans trimmed n=releaseinfo.ga.alt.cloud.release_number %}
                  Fedora Cloud {{n}}: qcow2 Image
                {% endtrans %}
              </div>
              <div>
                <a class="btn btn-outline-fedora-dark-blue" href="{{dl(releaseinfo.ga.alt.cloud.download_override.qcow2_s390x, 'https://download.fedoraproject.org/pub/fedora-secondary/releases/%s/Cloud/s390x/images/Fedora-Cloud-Base-%s-%s.s390x.qcow2' % (releaseinfo.ga.alt.cloud.release_number, releaseinfo.ga.alt.cloud.release_number, releaseinfo.ga.alt.cloud.rc_version))}}">{% trans trimmed %}Download{% endtrans %}</a>
              </div>
            </li>
          {% endif %}

          <!--Beta-->
          {% if releaseinfo.beta.show and releaseinfo.beta.alt.cloud.download_override.qcow2_s390x %}
            <li class="list-group-item d-flex align-items-center">
              <div class="flex-grow-1">
                {% trans trimmed n=releaseinfo.beta.alt.cloud.release_number %}
                  Fedora Cloud {{n}}: qcow2 Image
                {% endtrans %}
                <span class="small badge badge-primary">{% trans trimmed %}Beta!{% endtrans %}</span>
              </div>
              <div>
                <a class="btn btn-outline-fedora-dark-blue" href="{{dl(releaseinfo.beta.alt.cloud.download_override.qcow2_s390x, 'https://download.fedoraproject.org/pub/fedora-secondary/releases/test/%s_Beta/Cloud/s390x/images/Fedora-Cloud-Base-%s_Beta-%s.s390x.qcow2' % (releaseinfo.beta.alt.cloud.release_number, releaseinfo.beta.alt.cloud.release_number, releaseinfo.beta.alt.cloud.rc_version))}}">{% trans trimmed %}Download{% endtrans %}</a>
              </div>
            </li>
            <hr>
          {% endif %}

          {% if releaseinfo.ga.alt.cloud.download_override.raw_s390x %}
            <li class="list-group-item d-flex align-items-center">
              <div class="flex-grow-1">
                {% trans trimmed n=releaseinfo.ga.alt.cloud.release_number %}
                  Fedora Cloud {{n}}: Raw Image
                {% endtrans %}
              </div>
              <div>
                <a class="btn btn-outline-fedora-dark-blue" href="{{dl(releaseinfo.ga.alt.cloud.download_override.raw_s390x, 'https://download.fedoraproject.org/pub/fedora-secondary/releases/%s/Cloud/s390x/images/Fedora-Cloud-Base-%s-%s.s390x.raw.xz' % (releaseinfo.ga.alt.cloud.release_number, releaseinfo.ga.alt.cloud.release_number, releaseinfo.ga.alt.cloud.rc_version))}}">{% trans trimmed %}Download{% endtrans %}</a>
              </div>
            </li>
          {% endif %}

          <!--Beta-->
          {% if releaseinfo.beta.show and releaseinfo.beta.alt.cloud.download_override.raw_s390x %}
            <li class="list-group-item d-flex align-items-center">
              <div class="flex-grow-1">
                {% trans trimmed n=releaseinfo.beta.alt.cloud.release_number %}
                  Fedora Cloud {{n}}: Raw Image
                {% endtrans %}
                <span class="small badge badge-primary">{% trans trimmed %}Beta!{% endtrans %}</span>
              </div>
              <div>
                <a class="btn btn-outline-fedora-dark-blue" href="{{dl(releaseinfo.beta.alt.cloud.download_override.raw_s390x, 'https://download.fedoraproject.org/pub/fedora-secondary/releases/test/%s_Beta/Cloud/s390x/images/Fedora-Cloud-Base-%s_Beta-%s.s390x.raw.xz' % (releaseinfo.beta.alt.cloud.release_number, releaseinfo.beta.alt.cloud.release_number, releaseinfo.beta.alt.cloud.rc_version))}}">{% trans trimmed %}Download{% endtrans %}</a>
              </div>
            </li>
            <hr>
          {% endif %}

          {% if releaseinfo.ga.alt.container.download_override.s390x %}
            <li class="list-group-item d-flex align-items-center">
              <div class="flex-grow-1">
                {% trans trimmed n=releaseinfo.ga.alt.cloud.release_number %}
                  Fedora {{n}}: Container Image
                {% endtrans %}
              </div>
              <div>
                <a class="btn btn-outline-fedora-dark-blue" href="{{dl(releaseinfo.ga.alt.container.download_override.s390x, 'https://download.fedoraproject.org/pub/fedora-secondary/releases/%s/Container/s390x/images/Fedora-Container-Base-%s-%s.s390x.tar.xz' % (releaseinfo.ga.alt.container.release_number, releaseinfo.ga.alt.container.release_number, releaseinfo.ga.alt.container.rc_version))}}">{% trans trimmed %}Download{% endtrans %}</a>
              </div>
            </li>
          {% endif %}

          <!--Beta-->
          {% if releaseinfo.beta.show and releaseinfo.beta.alt.cloud.download_override.raw_s390x %}
            <li class="list-group-item d-flex align-items-center">
              <div class="flex-grow-1">
                {% trans trimmed n=releaseinfo.beta.alt.cloud.release_number %}
                  Fedora {{n}}: Container Image
                {% endtrans %}
                <span class="small badge badge-primary">{% trans trimmed %}Beta!{% endtrans %}</span>
              </div>
              <div>
                <a class="btn btn-outline-fedora-dark-blue" href="{{dl(releaseinfo.beta.alt.container.download_override.s390x, 'https://download.fedoraproject.org/pub/fedora-secondary/releases/test/%s_Beta/Container/s390x/images/Fedora-Container-Base-%s_Beta-%s.s390x.tar.xz' % (releaseinfo.beta.alt.container.release_number, releaseinfo.beta.alt.container.release_number, releaseinfo.beta.alt.container.rc_version))}}">{% trans trimmed %}Download{% endtrans %}</a>
              </div>
            </li>
            <hr>
          {% endif %}
        </ul>
      </div>
    </div>

    <hr />

    <div class="row">
      <div class="col-12">
        <h3 class="font-weight-light text-center py-3">
          {% trans trimmed %}Resources{% endtrans %}
        </h3>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-lg-4">
        <h4 class="font-weight-light">
          <i class="fa fa-fw header-icon fa-book"></i>
          {% trans trimmed %}Documentation{% endtrans %}
        </h4>
        <p class="font-weight-light">
          {% trans trimmed link="https://fedoraproject.org/wiki/Architectures/s390x" %}
          A wiki page with information about IBM z Systems on Fedora is available on the
            <a href="{{ link }}">Fedora Project Wiki</a>.
          {% endtrans %}
        </p>
      </div>

      <div class="col-12 col-lg-4">
        <h4 class="font-weight-light">
          <i class="fa fa-fw header-icon fa-envelope"></i>
          {% trans trimmed %}Mailing List{% endtrans %}
        </h4>
        <p class="font-weight-light">
          {% trans trimmed link="https://admin.fedoraproject.org/mailman/listinfo/s390x" %}
            Users and developers are also available on the mailing list at
            <a href="{{ link }}">s390x@lists.fedoraproject.org</a>.
          {% endtrans %}
        </p>
      </div>

      <div class="col-12 col-lg-4">
        <h4 class="font-weight-light">
          <i class="fa fa-fw header-icon fa-comments"></i>
          {% trans trimmed %}Chat{% endtrans %}
        </h4>
        <p class="font-weight-light">
          {% trans trimmed link="http://webchat.freenode.net/?channels=fedora-s390x" %}
            Users and developers are available in the
            <a href="{{ link }}">#fedora-s390x</a> IRC channel on
            <strong>irc.freenode.org</strong> for real-time chat.
          {% endtrans %}
        </p>
      </div>
    </div>
  </div>
</div>
{{export_regulations()}}
{% endblock %}
