{% extends "master_getfedora.html" %}
{% from "submenu.html" import submenu with context %}

{% block title %}{% trans trimmed %}Fedora CoreOS{% endtrans %}{% endblock %}

{% block content %}
{{submenu(edition="coreos", active="overview")}}
<div class="bg-tranparent">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 pt-5">
        <h1 class="font-weight-light">Fedora CoreOS.</h1>
        <h5 class="font-weight-light">{% trans trimmed %}Automatically updating Linux OS for containerized workloads.{% endtrans %}</h5>
        <a class="btn btn-lg btn-outline-fedora-magenta mt-2" href="{{url_for('coreos_download', lang_code=lang_code)}}">{% trans trimmed %}Download Now{% endtrans %}</a>
      </div>
    </div>
  </div>
</div>
<div class="bg-white pt-5">
</div>
<div class="bg-light border py-5">
  <div class="container">
    <div class="row">
      <div class="col-12">
        {% trans trimmed %}
        Fedora CoreOS is an automatically-updating, minimal operating system for running containerized workloads securely and at scale. It is currently available on multiple platforms, with more coming soon.
        {% endtrans %}
      </div>
    </div>
  </div>
</div>

<div class="bg-gray-200 py-5">
  <div class="container">
    <h3 class="font-weight-light">Getting Started with Fedora CoreOS</h3>
    {% trans trimmed docs_link_start='<a href="https://docs.fedoraproject.org/en-US/fedora-coreos/getting-started/">'|safe, link_end='</a>'|safe %}
    To get started with running Fedora CoreOS, see the {{ docs_link_start }}Getting Started{{ link_end }} guide.
    {% endtrans %}
  </div>
</div>

{% endblock %}
