{% extends "master_getfedora.html" %}

{% from "editions_card.html" import editions_card with context %}

{% block content %}
  <div class="bg-tranparent pt-5">
    <div class="container py-3 position-relative">
      <div class="row align-items-center">
          <div class="col-4 px-5">
              <img class="w-100" src="/static/images/monitor-fedoralogo.png" />
          </div>
        <div class="col-8">
            <h1 class="font-weight-light pb-4">{% trans %}Welcome to Freedom.{% endtrans %}</h1>
            <h5 class="font-weight-light">{% trans %}Fedora creates and innovative free and open source platform for hardware, clouds, and containers that enables software developers and community members to build tailored solutions for their users{% endtrans %}</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-white pt-5">
  </div>
  <div class="bg-light border py-5">
    <div class="container">
      <div class="row">

        <div class="col-12 mt-5">
            {{editions_card(color="green",
                            logo="/static/images/fedora-workstation-logo.png",
                            official=True,
                            description=_('Fedora Workstation is a polished, easy to use operating system for laptop and desktop computers, with a complete set of tools for developers and makers of all kinds.'),
                            download_link=url_for("workstation_download", lang_code=lang_code),
                            learnmorelink=url_for("workstation", lang_code=lang_code)
            )}}
        </div>

        <div class="col-lg-6 mt-5">
            {{editions_card(color="orange",
                            logo="/static/images/fedora-server-logo.png",
                            official=True,
                            description=_('Fedora Server is a powerful, flexible operating system that includes the best and latest datacenter technologies. It puts you in control of all your infrastructure and services.'),
                            download_link=url_for("server_download", lang_code=lang_code),
                            learnmorelink=url_for("server", lang_code=lang_code)
            )}}          
        </div>

          <div class="col-lg-6 mt-5">
            {{editions_card(color="purple",
                            logo="/static/images/fedora-atomic-logo.png",
                            official=True,
                            description=_('Fedora Atomic provides the best platform for your Linux-Docker-Kubernetes (LDK) application stack.'),
                            download_link=url_for("atomic_download", lang_code=lang_code),
                            learnmorelink=url_for("atomic", lang_code=lang_code)
            )}}     
            </div>
      </div> <!--row-->
    </div> <!--contatiner-->
  </div> <!-- gradient-->




  <div class="bg-gray-200 py-5">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <h2 class="font-weight-light">{% trans %}Emerging Fedora Editions{% endtrans %}</h2>
            <p class="lead">{% trans %}Preview the future of Fedora.{% endtrans %}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 mt-5">
            {{editions_card(color="magenta",
                            logo="/static/images/fedora-coreos-logo.png",
                            official=False,
                            description=_('We need some text about Fedora CoreOS to go here; it should give users a good idea of what they can use Fedora CoreOS for.'),
                            download_link="coreos/download",
                            learnmorelink="coreos/"
            )}}     
          </div>
  
          <div class="col-lg-4 mt-5">
            {{editions_card(color="blue",
                            logo="/static/images/fedora-silverblue-logo.png",
                            official=False,
                            description=_('We need a good description of Silverblue to go here; it should give the high level idea behind Silverblue and what it would be used for.'),
                            download_link="silverblue/download",
                            learnmorelink="silverblue/"
            )}}   
            </div>
  
            <div class="col-lg-4 mt-5">
              {{editions_card(color="magenta",
                              logo="/static/images/fedora-iot-logo.png",
                              official=False,
                              description=_('We need some text about Fedora IoT to go here; it should give users a good idea of what they can use Fedora IoT for.'),
                              download_link="silverblue/download",
                              learnmorelink="silverblue/"
              )}} 
            </div>
        </div> <!--row-->
      </div> <!--contatiner-->
    </div> <!-- gradient-->

         <div class="bg-light py-5">
              <div class="container">
                <div class="row">
                 <div class="col-12 text-center">
                    <h4 class="display font-weight-light py-3">{% trans %}Fedora is always free for anyone to{% endtrans %}</h4>
                    <h3 class="display font-weight-bold text-muted py-3 ">
                      <span class="text-fedora-green px-3">&bull;</span>
                      {% trans %}use{% endtrans %}
                      <span class="text-fedora-magenta px-3">&bull;</span>
                      {% trans %}modify{% endtrans %}
                      <span class="text-fedora-orange px-3">&bull;</span>
                      {% trans %}distribute{% endtrans %}
                      <span class="text-fedora-purple px-3">&bull;</span>
                    </h3>
                   <h4 class="display font-weight-light py-3">{% trans %}It is built and used by people across the globe<br/> who work together as a community.{% endtrans %}</h4>
                  </div>
               </div>
              </div> 
           </div>  
{% endblock %}





    

  

  
