{% extends "master_getfedora.html" %}

{% from "editions_card.html" import editions_card with context %}
{% from "link_card.html" import link_card with context %}


{% block title %}{% trans %}Fedora{% endtrans %}{% endblock %}

{% block content %}
  <div class="bg-tranparent pt-5">
    <div class="container py-3 position-relative">
      <div class="row align-items-center">
          <div class="col-lg-5 col-md-6 pb-4 pb-md-0 text-center">
              <img class="w-75" src="/static/images/g-monitor-fedoralogo.png" />
          </div>
        <div class="col-lg-7 col-md-6">
            <h1 class="font-weight-light pb-4 text-center text-md-left">{% trans %}Welcome to Freedom.{% endtrans %}</h1>
            <h5 class="font-weight-light">{% trans %}Fedora creates and innovative free and open source platform for hardware, clouds, and containers that enables software developers and community members to build tailored solutions for their users{% endtrans %}</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-white pt-5">
  </div>
  <div class="bg-light border py-5">
    <div class="container">
      <div class="row">

        <div class="col-lg-6 mt-5">
            {{editions_card(color="green",
                            logo="/static/images/fedora-workstation-logo.png",
                            official=True,
                            description=_('Fedora Workstation is a polished, easy to use operating system for laptop and desktop computers, with a complete set of tools for developers and makers of all kinds.'),
                            download_link=url_for("workstation_download", lang_code=lang_code),
                            learnmorelink=url_for("workstation", lang_code=lang_code)
            )}}
        </div>

        <div class="col-lg-6 mt-5">
            {{editions_card(color="orange",
                            logo="/static/images/fedora-server-logo.png",
                            official=True,
                            description=_('Fedora Server is a powerful, flexible operating system that includes the best and latest datacenter technologies. It puts you in control of all your infrastructure and services.'),
                            download_link=url_for("server_download", lang_code=lang_code),
                            learnmorelink=url_for("server", lang_code=lang_code)
            )}}          
        </div>
      </div> <!--row-->
    </div> <!--contatiner-->
  </div> <!-- gradient-->




  <div class="bg-gray-200 py-5">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <h2 class="font-weight-light">{% trans %}Emerging Fedora Editions{% endtrans %}</h2>
            <p class="lead">{% trans %}Preview the future of Fedora.{% endtrans %}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 mt-5">
            {{link_card(logo="/static/images/fedora-coreos-logo.png",
                            description=_('Fedora CoreOS an automatically updating, minimal, monolithic, container-focused operating system'),
                            learnmorelink="https://coreos.fedoraproject.org/"
            )}}     
          </div>
  
          <div class="col-lg-4 mt-5">
            {{link_card(
                            logo="/static/images/fedora-silverblue-logo.png",
                            description=_('Fedora Silverblue is an immutable desktop operating system aimed at good support for container-focused workflows'),
                            learnmorelink="https://silverblue.fedoraproject.org/"
            )}}   
            </div>
  
            <div class="col-lg-4 mt-5">
              {{link_card(
                              logo="/static/images/fedora-iot-logo.png",
                              description=_('Fedora IoT provides a trusted open source platform as a strong foundation for IoT ecosystems'),
                              learnmorelink="https://iot.fedoraproject.org/"
              )}} 
            </div>
        </div> <!--row-->
      </div> <!--contatiner-->
    </div> <!-- gradient-->

    <div class="bg-light py-5">
        <div class="container">
          <div class="row align-items-center">
              <div class="col-lg-5 col-md-6 pb-4 pb-md-0 text-center">
                  <img class="w-75" src="/static/images/globe.png" />
              </div>
            <div class="col-lg-7 col-md-6">
                <h5 class="display font-weight-light pt-3">{% trans %}Fedora is always free for anyone to <strong>use, modify, and distribute{% endtrans %}</h5>
                  <h5 class="display font-weight-light pb-3">{% trans %}It is built and used by people across the globe who work together as a community.{% endtrans %}</h5>
            </div>
          </div>
        </div>
      </div>

           <div class="bg-gray-200 border">
              <div class="container">
                <div class="row mb-4">
                  <div class="col-4">
                    <img src="/static/images/fmag-ribbon.png">
                  </div>
                  <div class="col-8 pt-5">
                    <h2 class="pt-4 text-right font-weight-light">Make the most of using Fedora.</h2>
                  </div>
                </div>
                <div class="row mb-4">
                  <div class="col-12">
                    <div class="card-deck" id="magazineposts">
                    </div>
                  </div>
               </div>
              </div> 
           </div> 
{% endblock %}

{% block js %}
{{ super() }}
<script>
    $( document ).ready(function() {
        $.get( "https://fedoramagazine.org/wp-json/wp/v2/posts", { per_page: 3 } )
      .done(function( data ) {
        $.each(data, function(i, item){
            const postlink = item.link;
            const posttitle = item.title.rendered;
            const date = new Date(item.date);
            const month = date.toLocaleString('en-us', { month: 'long' });
            const postdate = ( month + ' ' + date.getDate()+', ' +date.getFullYear());
            $.get(item._links['wp:featuredmedia'][0].href).done(function(imagedata){
                $("#magazineposts").append("<div class='card'><a href='"+postlink+"'><img src='"+imagedata.media_details.sizes.medium_large.source_url+"' class='card-img-top'></a><div class='card-body font-weight-bold '><a class='text-dark' href='"+postlink+"'>"+posttitle+"</a><div><small>"+postdate+"</small></div></div></div>")
            });
        })
      });
    });
    </script>
{% endblock %}





    

  

  
