{% extends "master_getfedora.html" %}

{% from "submenu.html" import submenu with context %}

{% block title %}{% trans %}Download Fedora Workstation{% endtrans %}{% endblock %}

{% block content %}
{{submenu(edition="workstation", active="download")}}
  <div class="bg-tranparent py-5">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12">
          <h1 class="font-weight-light">{% trans n=releaseinfo.ga.workstation.release_number %}Download Fedora {{n}} Workstation.{% endtrans %}</h1>
          <h5 class="font-weight-light">{% trans %}We're so glad you've decided to give Fedora Workstation a try. We know you'll love it.{% endtrans %}</h5>
        </div>
      </div>
    </div>
  </div>

  <div class="bg-light border py-5">
    <div class="container">

      <!-- Teaser titles -->
      <div class="row">
        <div class="col-6">
          <h3 class="font-weight-light">{% trans %}On Windows or MacOS?{% endtrans %}</h3>
        </div>
        <div class="col-6">
          <h3 class="font-weight-light">{% trans %}On Linux or just want an ISO file?{% endtrans %}</h3>
        </div>
      </div>

      <!-- Intro text -->
      <div class="row">
        <div class="col-6">
          <p>
            {% trans %}
            Get started by using <strong>Fedora Media Writer</strong>, which makes it super easy to give Fedora a try.
            {% endtrans %}
          </p>
        </div>
        <div class="col-6">
          <p>
            {% trans %}
            Not sure how to use this file? <a href="https://fedoraproject.org/wiki/How_to_create_and_use_Live_USB">Learn here</a>.
            {% endtrans %}
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-6">
          <a class="btn btn-lg btn-outline-fedora-blue mt-2" href="https://getfedora.org/fmw/FedoraMediaWriter-win32-{{releaseinfo.fmw.win.version}}.exe">
            <i class="fab fa-windows"></i> {% trans %}Download for Windows{% endtrans %}
          </a>

          <a class="btn btn-lg btn-outline-fedora-blue mt-2" href="https://getfedora.org/fmw/FedoraMediaWriter-osx-{{releaseinfo.fmw.osx.version}}.dmg">
            <i class="fab fa-apple"></i> {% trans %}Download for MacOS{% endtrans %}
          </a>
        </div>

        <div class="col-6">
          <a class="btn btn-lg btn-outline-fedora-blue mt-2" href="https://download.fedoraproject.org/pub/fedora/linux/releases/{{releaseinfo.ga.workstation.release_number}}/Workstation/x86_64/iso/Fedora-Workstation-Live-x86_64-{{releaseinfo.ga.workstation.release_number}}-{{releaseinfo.ga.workstation.rc_version}}.iso">
            <i class="fas fa-compact-disc"></i> {% trans %}Download x86_64 DVD ISO{% endtrans %}
          </a>
        </div>
      </div> <!-- /final row -->
    </div>
  </div>

  <div class="bg-gray-200 py-5">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-6">
          <h3 class="font-weight-light pb-4">{% trans %}Learn more about Fedora Media Writer.{% endtrans %}</h3>
          <p class="font-weight-light">
            {% trans %}
            Getting going with Fedora is easier than ever.
            All you need is a 2GB USB flash drive, and Fedora Media Writer.
            {% endtrans %}
          </p>
          <p class="font-weight-light">
            {% trans %}
            Once Fedora Media Writer is installed, it will set up your flash drive
            to run a "Live" version of Fedora Workstation, meaning that you can boot
            it from your flash drive and try it out right away without making any
            permanent changes to your computer. Once you are hooked, installing it
            to your hard drive is a matter of clicking a few buttons<sup>*</sup>.
            {% endtrans %}
          </p>
          <p class="muted font-italic">
            <small>
              {% trans %}
              <sup>*</sup> Fedora requires a minimum of 10GB disk, 1GB RAM, and
              a 1GHz processor to install and run successfully.
              {% endtrans %}
            </small>
          </p>
        </div>
        <div class="col-6 px-5">
          <img class="w-100" src="/static/images/g-monitor-overview.png" />
        </div>
      </div>
    </div> <!--contatiner-->
  </div> <!-- gradient-->

  <div class="bg-transparent py-5">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-6 px-5">
          <img class="w-100" src="/static/images/g-monitor-overview.png" />
        </div>
        <div class="col-6">
          <h3 class="font-weight-light pb-4">{% trans %}But wait! There's more.{% endtrans %}</h3>
          <p class="font-weight-light">
            {% trans %}
            Need something a bit different? Check out our other Fedora
            Workstation downloads here, featuring secondary architectures and
            network-based installation images.
            {% endtrans %}
          </p>
          <ul class="font-weight-light">
            <li><a href="https://download.fedoraproject.org/pub/fedora-secondary/releases/{{releaseinfo.ga.workstation.release_number}}/Workstation/i386/iso/Fedora-Workstation-Live-i386-{{releaseinfo.ga.workstation.release_number}}-{{releaseinfo.ga.workstation.rc_version}}.iso">32-bit ISO</a></li>
            <li><a href="https://download.fedoraproject.org/pub/fedora/linux/releases/{{releaseinfo.ga.workstation.release_number}}/Workstation/x86_64/iso/Fedora-Workstation-netinst-x86_64-{{releaseinfo.ga.workstation.release_number}}-{{releaseinfo.ga.workstation.rc_version}}.iso">64-bit network install image</a></li>
            <li><a href="https://download.fedoraproject.org/pub/fedora-secondary/releases/{{releaseinfo.ga.workstation.release_number}}/Workstation/i386/iso/Fedora-Workstation-netinst-i386-{{releaseinfo.ga.workstation.release_number}}-{{releaseinfo.ga.workstation.rc_version}}.iso">32-bit network install image</a></li>
          </ul>
        </div>
      </div>
    </div> <!--contatiner-->
  </div> <!-- gradient-->

  <div class="my-5 py-5">&nbsp;</div> <!--REMOVE ME. TEMPORARY SPACER UNTIL WE GET CONTENT-->
  <div class="my-5 py-5">&nbsp;</div> <!--REMOVE ME. TEMPORARY SPACER UNTIL WE GET CONTENT-->
  <div class="my-5 py-5">&nbsp;</div> <!--REMOVE ME. TEMPORARY SPACER UNTIL WE GET CONTENT-->
  <div class="my-5 py-5">&nbsp;</div> <!--REMOVE ME. TEMPORARY SPACER UNTIL WE GET CONTENT-->
{% endblock %}
