{% extends "master_getfedora.html" %}

{% from "submenu.html" import submenu with context %}

{% block title %}{% trans trimmed %}Download Fedora CoreOS{% endtrans %}{% endblock %}

{% block content %}
{{submenu(edition="coreos", active="download")}}
<div class="bg-tranparent py-5">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12">
        <h1 class="font-weight-light">{% trans trimmed %}Download Fedora CoreOS (preview).{% endtrans %}</h1>
        <h5 class="font-weight-light">{% trans trimmed %}Try running containers in the latest preview release of Fedora CoreOS.{% endtrans %}</h5>
        <p>{% trans trimmed %}Preview releases of Fedora CoreOS should not be used for production workloads. Fedora CoreOS may change in incompatible ways during the preview period. Additional platforms and functionality will be added over the coming months.{% endtrans %}</p>
        <p>{% trans trimmed mailing_link_start='<a href="https://lists.fedoraproject.org/archives/list/coreos-status@lists.fedoraproject.org/">'|safe, tracker_link_start='<a href="https://github.com/coreos/fedora-coreos-tracker">'|safe, link_end='</a>'|safe %}Subscribe to the {{ mailing_link_start}}coreos-status mailing list{{ link_end }} to receive important operational notices from the Fedora CoreOS team. Give feedback and follow Fedora CoreOS development in the {{ tracker_link_start }}Fedora CoreOS issue tracker{{ link_end }}.{% endtrans %}</p>
        <p>
          {% trans trimmed docs_link_start='<a href="https://docs.fedoraproject.org/en-US/fedora-coreos/getting-started/">'|safe, link_end='</a>'|safe %}
          Start running Fedora CoreOS with the {{ docs_link_start }}Getting Started{{ link_end }} guide.
          {% endtrans %}
        </p>
      </div>
    </div>
    <br>
  </div>
  <div class="jumbotron py-0">
    <div class="text-center py-3">
      <h5 class="font-weight-light">{% trans trimmed %}Fedora CoreOS is available on multiple platforms in 3 main categories:{% endtrans %}</h5>
    </div>
    <div id="jumbotron-buttons"></div>
  </div>
  <div class="container">
    <div id="coreos-download-app"></div>
  </div>
</div>
{% endblock %}

{% block js %}
<!-- Use the Vue runtime build only,to avoid use of eval() in the full build,
  which is blocked by the CSP. -->
<script src="{{ url_for('static', filename='js/vue.runtime.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/coreos-download.js') }}"></script>
{{ super() }}
{% endblock %}
