{% extends "master_getfedora.html" %}

{% from "submenu.html" import submenu with context %}

{% block title %}{% trans trimmed %}Download Fedora CoreOS{% endtrans %}{% endblock %}

{% block content %}
{{submenu(edition="coreos", active="download")}}
<div id="coreos-download-app"></div>
{% endblock %}

{% block js %}
<!-- Use the Vue runtime build only,to avoid use of eval() in the full build,
  which is blocked by the CSP. -->
<script src="{{ url_for('static', filename='js/vue.runtime.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/coreos-download.js') }}"></script>
{{ super() }}
{% endblock %}
