{% extends "master_getfedora.html" %}

{% from "submenu.html" import submenu with context %}

{% block title %}{% trans trimmed %}Download Fedora CoreOS{% endtrans %}{% endblock %}

{% block content %}
{{submenu(edition="coreos", active="download")}}
  <div class="bg-tranparent py-5">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12">
          <h1 class="font-weight-light">{% trans trimmed %}Download Fedora CoreOS (preview).{% endtrans %}</h1>
          <h5 class="font-weight-light">{% trans trimmed %}Try running containers in the latest preview release of Fedora CoreOS.{% endtrans %}</h5>
          <p>{% trans trimmed %}Preview releases of Fedora CoreOS should not be used for production workloads. Fedora CoreOS may change in incompatible ways during the preview period. Additional platforms and functionality will be added over the coming months.{% endtrans %}</p>
          <p>{% trans trimmed mailing_link_start='<a href="https://lists.fedoraproject.org/archives/list/coreos-status@lists.fedoraproject.org/">'|safe, tracker_link_start='<a href="https://github.com/coreos/fedora-coreos-tracker">'|safe, link_end='</a>'|safe %}Subscribe to the {{ mailing_link_start}}coreos-status mailing list{{ link_end }} to receive important operational notices from the Fedora CoreOS team. Give feedback and follow Fedora CoreOS development in the {{ tracker_link_start }}Fedora CoreOS issue tracker{{ link_end }}.{% endtrans %}</p>
        </div>
      </div>

      <hr>
      <!-- Following #app element is adapted from https://github.com/jlebon/fedora-coreos-browser/blob/master/index.html;
      have Jinja2 ignore templating. -->
      <div id="app">
        <div v-if="loading">
          {% trans trimmed %}Loading...{% endtrans %}
        </div>
        <div v-else-if="streamData">
          <p>{% trans trimmed %}Stream:{% endtrans %} <span style="font-weight: bold">{% raw %}{{ streamData.stream }}{% endraw %}</span>
            (<a v-bind:href="getObjectUrl(streamData.stream + '.json')">JSON</a>)
            <span v-if="streamData.metadata" v-bind:title="streamData.metadata['last-modified']">
              — {% raw %}{{ timeSince(streamData.metadata['last-modified']) }}{% endraw %}
            </span>
          </p>

          <div v-if="streamData.architectures[architecture]">
            <div class="px-1 py-2 my-2">
              <h3 class="font-weight-light">{% trans trimmed %}Cloud Launchable{% endtrans %}</h3>
              <div class="col">
                <div v-if="streamData.architectures[architecture].images">
                  <div v-for="(image, provider) in streamData.architectures[architecture].images">
                    <div class="py-2">
                      <div v-if="isAws(provider)" style="margin-left: 1em">
                        <div v-if="image.regions">
                          <div v-for="(region, regionName) in image.regions">
                            <div style="font-weight: bold">{% raw %}{{ displayPrettyProvider(provider, null) }}{% endraw %}</div>
                            <div>({% raw %}{{ regionName }}{% endraw %})</div>
                            <div v-if="region.release" style="margin-left: 1em">{% raw %}{{ region.release }}{% endraw %} {% raw %}{{ streamData.stream }}{% endraw %}</div>
                            <div v-if="region.image" style="margin-left: 1em">{% trans trimmed %}image{% endtrans %}: {% raw %}{{ region.image }}{% endraw %}</div>
                          </div>
                        </div>
                      </div>
                      <div v-else style="margin-left: 1em">
                        <div style="font-weight: bold">{% raw %}{{ displayPrettyProvider(provider, extension) }}{% endraw %}</div>
                        <div v-if="image.image" style="margin-left: 1em">{% trans trimmed %}image{% endtrans %}: {% raw %}{{ image.image }}{% endraw %}</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <hr>
            <div class="py-2">
              <h3 class="font-weight-light">{% trans trimmed %}Bare Metal & Virtualized{% endtrans %}</h3>
              <div class="container">
                <div class="row">
                  <div class="col-lg-6">
                    <div v-if="streamData.architectures[architecture].artifacts.metal.formats" style="margin-left: 1em">
                      <h4 class="font-weight-light">{% trans trimmed %}Bare Metal{% endtrans %}</h4>
                      <div v-for="(format, extension) in streamData.architectures[architecture].artifacts.metal.formats">
                        <div class="py-2">
                          <div style="font-weight: bold">{% raw %}{{ displayPrettyProvider('metal', extension) }}{% endraw %}</div>
                          <!-- XXX: the conditions to display the extension here are quickly hacked in; if adding any further conditions this should be handled elsewhere in a better organized structure. -->
                          <div v-if="extension != 'installer-pxe' && extension != 'pxe'">({% raw %}{{ (extension != 'installer.iso') ? extension : ".iso" }}{% endraw %})</div>
                          <div v-if="streamData.architectures[architecture].artifacts.metal.release" style="margin-left: 1em">
                              {% raw %}{{ streamData.architectures[architecture].artifacts.metal.release }}{% endraw %} {% raw %}{{ streamData.stream }}{% endraw %}
                          </div>
                          <div v-if="format.disk" style="margin-left: 1em">
                            <span v-if="format.disk.location">
                              <a v-bind:href="format.disk.location">{% trans trimmed %}Download{% endtrans %}</a>
                            </span>
                            <div><button v-on:click="toggleShowSignatureAndSha('bareMetal', 'metal', extension, 'disk')" class="btn btn-sm btn-outline-fedora-magenta mt-2">{% trans trimmed %}Verify signature & sha256{% endtrans %}</button></div>
                            <div v-if="showSignatureAndSha('bareMetal', 'metal', extension, 'disk')" style="overflow-x: scroll; word-break: keep-all" class="bg-gray-100 p-1 my-2">
                              <div v-if="format.disk.signature">
                                <span>{% trans trimmed %}signature{% endtrans %}: </span><span><a v-bind:href="format.disk.signature">Download</a></span>
                              </div>
                              <div v-if="format.disk.sha256">
                                <span>sha256: </span><span>{% raw %}{{ format.disk.sha256 }}{% endraw %}</span>
                              </div>
                            </div>
                          </div>
                          <div v-if="format.kernel" style="margin-left: 1em">
                            <span>{% trans trimmed %}kernel{% endtrans %}:</span>
                            <span v-if="format.kernel.location">
                              <a v-bind:href="format.kernel.location">{% trans trimmed %}Download{% endtrans %}</a>
                            </span>
                            <div><button v-on:click="toggleShowSignatureAndSha('bareMetal', 'metal', extension, 'kernel')" class="btn btn-sm btn-outline-fedora-magenta mt-2">{% trans trimmed %}Verify signature & sha256{% endtrans %}</button></div>
                            <div v-if="showSignatureAndSha('bareMetal', 'metal', extension, 'kernel')" style="overflow-x: scroll; word-break: keep-all" class="bg-gray-100 p-1 my-2">
                              <div v-if="format.kernel.signature">
                                <span>{% trans trimmed %}signature{% endtrans %}: </span><span><a v-bind:href="format.kernel.signature">Download</a></span>
                              </div>
                              <div v-if="format.kernel.sha256">
                                <span>sha256: </span><span>{% raw %}{{ format.kernel.sha256 }}{% endraw %}</span>
                              </div>
                            </div>
                          </div>
                          <div v-if="format.initramfs" style="margin-left: 1em">
                            <span>initramfs:</span>
                            <span v-if="format.initramfs.location">
                              <a v-bind:href="format.initramfs.location">{% trans trimmed %}Download{% endtrans %}</a>
                            </span>
                            <div><button v-on:click="toggleShowSignatureAndSha('bareMetal', 'metal', extension, 'initramfs')" class="btn btn-sm btn-outline-fedora-magenta mt-2">{% trans trimmed %}Verify signature & sha256{% endtrans %}</button></div>
                            <div v-if="showSignatureAndSha('bareMetal', 'metal', extension, 'initramfs')" style="overflow-x: scroll; word-break: keep-all" class="bg-gray-100 p-1 my-2">
                              <div v-if="format.initramfs.signature">
                                <span>{% trans trimmed %}signature{% endtrans %}: </span><span><a v-bind:href="format.initramfs.signature">Download</a></span>
                              </div>
                              <div v-if="format.initramfs.sha256">
                                <span>sha256: </span><span>{% raw %}{{ format.initramfs.sha256 }}{% endraw %}</span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div style="margin-left: 1em">
                      <h4 class="font-weight-light">{% trans trimmed %}Virtualized{% endtrans %}</h4>
                      <div v-if="streamData.architectures[architecture].artifacts">
                        <div v-for="(artifact, provider) in streamData.architectures[architecture].artifacts">
                            <div v-if="isVirtualizedImage(provider) && artifact.formats" style="margin-left: 1em">
                              <div class="py-2">
                              <div v-for="(format, extension) in artifact.formats">
                                <div style="font-weight: bold">{% raw %}{{ displayPrettyProvider(provider, extension) }}{% endraw %}</div>
                                <div>({% raw %}{{ extension }}{% endraw %})</div>
                                <div v-if="artifact.release" style="margin-left: 1em">
                                  {% raw %}{{ artifact.release }}{% endraw %} {% raw %}{{ streamData.stream }}{% endraw %} 
                                </div>
                                <div v-if="format.disk" style="margin-left: 1em">
                                  <span v-if="format.disk.location">
                                    <a v-bind:href="format.disk.location">{% trans trimmed %}Download{% endtrans %}</a>
                                  </span>
                                  <div><button v-on:click="toggleShowSignatureAndSha('virtualized', provider, extension, 'disk')" class="btn btn-sm btn-outline-fedora-magenta mt-2">{% trans trimmed %}Verify signature & sha256{% endtrans %}</button></div>
                                  <div v-if="showSignatureAndSha('virtualized', provider, extension, 'disk')" style="overflow-x: scroll; word-break: keep-all" class="bg-gray-100 p-1 my-2">
                                    <div v-if="format.disk.signature">
                                      <span>signature: </span><span><a v-bind:href="format.disk.signature">Download</a></span>
                                    </div>
                                    <div v-if="format.disk.sha256">
                                      <span>sha256: </span><span>{% raw %}{{ format.disk.sha256 }}{% endraw %}</span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <hr>
            <div class="px-1 py-2 my-2">
              <h3 class="font-weight-light">{% trans trimmed %}For Cloud Operators{% endtrans %}</h3>
              <div class="col">
                <div v-if="streamData.architectures[architecture].artifacts">
                  <div v-for="(artifact, provider) in streamData.architectures[architecture].artifacts">
                    <div v-if="isCloudImage(provider) && artifact.formats" style="margin-left: 1em">
                      <div class="py-2">
                        <div v-for="(format, extension) in artifact.formats">
                          <div style="font-weight: bold">{% raw %}{{ displayPrettyProvider(provider, extension) }}{% endraw %}</div>
                          <div>({% raw %}{{ extension }}{% endraw %})</div>
                          <div v-if="artifact.release" style="margin-left: 1em">
                            {% raw %}{{ artifact.release }}{% endraw %} {% raw %}{{ streamData.stream }}{% endraw %}
                          </div>
                          <div v-if="format.disk" style="margin-left: 1em">
                            <span v-if="format.disk.location">
                              <a v-bind:href="format.disk.location">{% trans trimmed %}Download{% endtrans %}</a>
                            </span>
                            <div><button v-on:click="toggleShowSignatureAndSha('cloud', provider, extension, 'disk')" class="btn btn-sm btn-outline-fedora-magenta mt-2">{% trans trimmed %}Verify signature & sha256{% endtrans %}</button></div>
                            <div v-if="showSignatureAndSha('cloud', provider, extension, 'disk')" style="overflow-x: scroll; word-break: keep-all" class="bg-gray-100 p-1 my-2">
                              <div v-if="format.disk.signature">
                                <span>{% trans trimmed %}signature{% endtrans %}: </span><span><a v-bind:href="format.disk.signature">Download</a></span>
                              </div>
                              <div v-if="format.disk.sha256">
                                <span>sha256: </span><span>{% raw %}{{ format.disk.sha256 }}{% endraw %}</span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> <!-- end streamData-->
        <div v-else>
          {% trans trimmed %}No stream data found!{% endtrans %}
        </div>
      </div> <!-- end app -->
    </div>
  </div>
{% endblock %}

{% block js %}
<script type="text/javascript" src="{{ url_for('static', filename='js/vue.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/coreos-download.js') }}"></script>
{{ super() }}
{% endblock %}
